[2016-12-08 22:50] Tarabass999 commented on #674
Was an Arma 3 1.66 issue.. works with Fix https://dev.arma3.com/post/spotrep-00063

[2016-12-08 22:50] #674 closed, assigned to nobody

[2016-12-09 01:16] Tarabass999 opened #679 "AH F5 delete nomore works"
F5 nomore kicks you out of the game, but delete function disappears after half a second, so I can't delete anything anymore..

[2016-12-10 13:35] vbawol commented on #678
Hey @baaljayjay ! could you provide a screenshot?

[2016-12-10 13:38] vbawol commented on #679
Anyone else having this issue? I tested the changes to Epoch AH F5 action and it worked for me. However, I will double check again next time I am on the dev server.

[2016-12-10 13:40] vbawol commented on #648
thanks for testing, I will see about a total rewrite to the anti TP function next.

[2016-12-10 13:44] vbawol commented on #676
Sorry for my lack of knowledge here, Is this F3 a feature of Arma?

Either way, you should be able to allow this by adding it to the array found in server settings .pbo here: https://github.com/EpochModTeam/Epoch/blob/release/Sources/epoch_server_settings/configs/security/security_checks.h#L88

[2016-12-10 14:07] vbawol commented on #671
I think this maybe due to some of the 1,66 issues also but I did put in some fixes for this issue as if the player object was null it could have thrown this error, now it won't at least throw the error.

However, please make sure that 1.66 hotfix didn't already fix it and please report back.

[2016-12-10 14:11] vbawol commented on #671
fixed with: https://github.com/EpochModTeam/Epoch/commit/4f86c913d8b28be288605274c32b3f4bda1d8ed4

[2016-12-10 14:11] #671 closed, assigned to nobody

[2016-12-10 14:25] vbawol commented on #663
Actually, all players (male and female) are on created and joined to the west group:
https://github.com/EpochModTeam/Epoch/blob/release/Sources/epoch_server/compile/epoch_player/EPOCH_server_loadPlayer.sqf#L135

The only reason females are on another side is to prevent males from wearing the female clothes. If Epoch_Man had side = 1 like the females do then they would also be able to put on the fe

[2016-12-10 14:39] baaljayjay commented on #678
![20161210153711_1](https://cloud.githubusercontent.com/assets/16623990/21074030/bd0832fe-beee-11e6-9c9d-d692c96cd55e.jpg)
![20161210153715_1](https://cloud.githubusercontent.com/assets/16623990/21074029/bd080964-beee-11e6-9490-a9416e3581d5.jpg)
![20161210153600_1](https://cloud.githubusercontent.com/assets/16623990/21074033/c8d1ee0e-beee-11e6-94bd-76b8a36fb25b.jpg)
![20161210153604_1](https://clo

[2016-12-10 14:51] vbawol commented on #677
@Ghostrider-DbD- Thanks for the contribution!

[2016-12-10 14:51] #677 closed, assigned to nobody

[2016-12-10 15:12] vbawol commented on #411
https://feedback.bistudio.com/T82178 - Bipod Duplicating

Some other BI feedback threads that people are asking BI to add a way to manipulate weapons + attachments on spawning into a cargo space:

https://feedback.bistudio.com/T63270 - Expand weapon holder container manipulation commands to be able to add and get weapons with accessories

https://feedback.bistudio.com/T80047 - No commands to add a

[2016-12-10 20:31] Tarabass999 commented on #676
Thank you... this would just be to communicate directly with bots in your team, and it's not needed for epoch, just a arma thing.

[2016-12-11 02:29] baaljayjay commented on #609
ideas for farming: small garden shovel and digging stick for prepare the field.(digging stick craftable with 2 sticks)
wheat,Beetroot,Mangelwurzel modell.
maybe when with action menu search and look to ground have small chance of Seeds found

link:https://drive.google.com/file/d/0B2PXTFaiSMInZkJ2NUtFV0dwQUE/view?usp=sharing

[2016-12-11 02:31] baaljayjay commented on #611
small campfire.
crafttable with 10 sticks.
maybe can harvest sticks with action menu.
link:https://drive.google.com/file/d/0B2PXTFaiSMInSmwwbTVQbDZ2azg/view?usp=sharing

[2016-12-11 02:40] baaljayjay commented on #507
here some idea
one is a cart this can craft with lumber pack and plywood pack.
That can push and have storage
link:https://drive.google.com/file/d/0B2PXTFaiSMInNWhCYkRjV2ExQ3M/view?usp=sharing

another is a shack.
you can build in the world and when not a jammer near to shack so you can maintain with plywood or lumber.
link:https://drive.google.com/file/d/0B2PXTFaiSMInYXpuSnA2blZWWk0/view?usp=shar

[2016-12-11 15:54] Ignatz-HeMan opened #682 "Sorted TraderItems"
Not a bug, more a proposal.
There should come a new Trader Menu in 0.4, what unfortunately is not implemented yet.
If this will take more time, I could pull my items sorting for the Trader Menu.
It is working for us since a few month without any problems.

![20161211164929_1](https://cloud.githubusercontent.com/assets/6589278/21081214/2d173300-bfc2-11e6-941b-91fb3dd330b8.jpg)
![20161211164934_1](h

[2016-12-13 14:02] vbawol commented on #682
@Ignatz-HeMan Looks good! This would be a welcome change.

[2016-12-13 15:26] Ignatz-HeMan commented on #682
Okay,  I will sort it a bit and make a Pull

[2016-12-13 15:26] #682 closed, assigned to nobody

[2016-12-14 16:57] vbawol commented on #676
Np,

since this is for something custom will consider this case closed for now.

[2016-12-14 16:57] #676 closed, assigned to nobody

[2016-12-14 18:36] raymix commented on #682
That looks great @Ignatz-HeMan
Yes, the trader menu will take a while due to my stressful work schedule and the fact that my cat broke my monitor, there's no way in hell I'm doing anything on my 21" backup screen apart from some bug fixes. Should get a new monitor after Christmas though.

Thanks for looking after current trader menu, man.

[2016-12-14 23:10] morgoth0 commented on #663
First things first, I will be willing to provide any help necessary to get this implemented as you will see below. Before that, I'd like to respond to your observations to provide greater clarity.

"Actually, all players (male and female) are on created and joined to the west group:"
Very true, however the issue is not to do with the group container that players are in, it is a specific issue with

[2016-12-15 19:26] Tarabass999 opened #689 "Build 673 traders"
in build 673 epoch traders don't show items anymore

[2016-12-15 19:38] Ignatz-HeMan commented on #689
Oh, that's a change from me. I will have a look at it.
Are you playing on your own Server or on a dev-server?
Have you added the new config cfgitemsort.cfg and added it to the sandbox_config.hpp?

[2016-12-15 19:57] Ignatz-HeMan commented on #689
Okay, just installed vanilla Epoch and it works!
There must be a problem in your updated files, I think.
Please doublecheck it and report again!

These files have been changed for the Trader Menu:

epoch.xxxxx\epoch_code\compile\traders\EPOCH_NPCTraderMenuFilter.sqf
epoch.xxxxx\epoch_code\compile\traders\EPOCH_startNPCTraderMenu.sqf
epoch.xxxxx\epoch_config\sandbox_config.hpp
epoch.xxxxx\epoch_con

[2016-12-15 20:02] Tarabass999 commented on #689
no i'm playing on own server..
damn.. I apologize cfgitemsort.cfg was not in sandbox_config..
it works fine with that.. thank you

[2016-12-15 20:02] #689 closed, assigned to nobody

[2016-12-15 20:39] Tarabass999 opened #690 "build 672/673 thermal optics"
Since build 672 thermal optics uses black hot mode instead of white hot

Edit: sometimes it works fine

[2016-12-15 20:43] Tarabass999 commented on #690
http://steamcommunity.com/sharedfiles/filedetails/?id=818902894

[2016-12-15 22:11] Tarabass999 commented on #689
The categories at the traders are great btw :)
Thank you for that

[2016-12-15 23:14] Tarabass999 commented on #679
So it was depending on Arma 3 controls. F5 is occupied with team order command.
Since i changed control settings it works for me again..

[2016-12-16 00:56] vbawol commented on #679
Thanks for reporting back, will consider this closed for now.

[2016-12-16 00:56] #679 closed, assigned to nobody

[2016-12-16 01:10] vbawol commented on #607
tracking greater issue here: https://github.com/EpochModTeam/Epoch/issues/663

[2016-12-16 01:10] #607 closed, assigned to nobody

[2016-12-16 01:13] vbawol commented on #17
(Pending: A3 command to manipulate weapons + attachments in cargo space)
tracking here: https://github.com/EpochModTeam/Epoch/issues/411

[2016-12-16 01:13] #17 closed

[2016-12-18 15:57] Tarabass999 commented on #690
Depens on air temperature ... which is on over 50 degrees with epoch standard settings
works normal with static weather settings

[2016-12-25 19:55] Tarabass999 commented on #675
never happend again since fix for 1.66

[2016-12-25 19:55] #675 closed, assigned to nobody

[2016-12-25 19:56] #690 closed, assigned to nobody

[2016-12-26 21:32] usgharry opened #692 "Gear not Saving"
Dear Reader,

I recently set up a Epoch server using all the most recent files, the server launches and everything works and players can connect.

However players gear does not save I tested for around 25 mins of looting I then disconnected and its brings me back to the beginning where I pick a gender. This is the same for all players who have tested it.

If anyone has a fix or suggestions please

[2016-12-26 21:58] Ignatz-HeMan commented on #692
Hi Harry,
make sure you have started the redis db and have set the same passwords here:

DB\redis.conf
requirepass **yourpassword**

@epochhive\EpochServer.ini
[Redis]
IP = 127.0.0.1
Port = 6380
DB = 0
Password = **yourpassword**

He-Man

[2016-12-31 17:17] Ignatz-HeMan opened #693 "Clothings / Weapons sometimes disappear by switching player into unit?!"
I have noticed, that on our Test-Server (Chernarus) the default Sidepack and Dan are not on respawned Players.
So I made a diag_log for the current clothes at he end of EPOCH_server_loadPlayer.sqf, but in this log, the new player has these clothings.
It seems, that they disappear by switching the player into the new unit.
It is on Altis too, but only very rarely. On Chernarus nearly every time.

S

[2017-01-01 15:57] Ignatz-HeMan commented on #693
Now tested a lot:
On an empty Server (Test-Server), the Weapons disappear in about 6 of 10 revives.
On our Live-Server with 20-30 player, the weapons disappear in about 2 of 10 revives.
So I think, the player switch to fast in the new unit.
Then I changed the EPOCH_server_revivePlayer.sqf, that the code is spawned (not called) and added a short "uisleep 0.2" before the remoteExec.
And voilla... 10

[2017-01-01 15:57] #693 closed, assigned to nobody

[2017-01-01 16:30] vbawol commented on #693
It seems like the more A3 optimizes the more our methods do not work. I thought this was addressed with load player, the most reliable thing I found to do was to simply teleport the old player to the new players location just before the switch. This is so they are near each other and the sync seems to work faster this way.

https://github.com/EpochModTeam/Epoch/blob/release/Sources/epoch_server/co

[2017-01-06 13:59] vbawol commented on #651
please open a new issue if there are any false kicks

[2017-01-06 13:59] #651 closed, assigned to nobody

[2017-01-06 14:01] vbawol commented on #317
I believe this has now been addressed with https://github.com/EpochModTeam/Epoch/pull/688 if not please open a new issue referencing this issue.

[2017-01-06 14:01] #317 closed

[2017-01-08 00:03] Tarabass999 commented on #648
when I change line 847 in epoch_server\init\server_securityfunctions.sqf to

	if (((_distance/(_curTime-_lastTime)) > "+str _maxTravelDistance+") && _notNearbySpawn && (player == vehicle player) && animationState player != 'halofreefall_non') then {

it (Teleporting) wasn't happening for halv halo script anymore today... maybe I'll see something else in rtp logs tomorrow.. and maybe there someone

[2017-01-08 11:27] Tarabass999 commented on #648
Seems like that worked till build 672... Today I added 675 and it's nomore working, still teleporting players with halo spawn back in the air.. sometimes with opened para aslong as they fly, sometimes without parachute (after landing) and just fall down

[2017-01-12 14:29] daniel122331 opened #696 "Scripts Not showing in my server at all?"
So every script i've installed was working up until a restart happened last night, I went in and checked all of the files inside of the "epoch.Altis.pbo" and they were all still there. The only thing i can think of is maybe there's a coding error within the "mission.sqm"?

Anyway's here is it, let me know if you see an error anywhere that could be causing them not to work in game?

**See the code

[2017-01-15 15:53] vbawol commented on #696
Holy wall of text,

Check your servers RPT and pastebin us a link.

[2017-01-15 15:53] #692 closed, assigned to nobody

[2017-01-15 16:05] vbawol commented on #657
How does the sledgehammer feel in comparison? The wooden club did have a lower Time-To-Live so I have changed it to match the sledgehammer albeit still with a lower hit damage.

[2017-01-15 19:53] vbawol commented on #608
Thanks for the suggestion, have added the toxic grenade and may add the Atropine Autoinjector.

[2017-01-15 19:53] #608 closed, assigned to nobody

[2017-01-21 15:42] Ignatz-HeMan opened #698 "Repack Energy Pack not possible"
If choose "repack" for Energy packs, "use" is executed.
Checked the codes a bit and it seems it is caused, because it has a config in CfgItemInteractions AND is a magazine with bullet count.
Prio -> Low (I think)

[2017-01-24 16:06] vbawol commented on #698
@Ignatz-HeMan Can you confirm that this https://github.com/EpochModTeam/Epoch/commit/40949a09b9862a8820a0f35fffb3107b4d776931 change fixed it?

[2017-01-24 16:25] #696 closed, assigned to nobody

[2017-01-25 23:02] Ignatz-HeMan commented on #698
Will test it tomorrow and give feedback here.

[2017-01-26 17:05] Ignatz-HeMan commented on #698
Tested it and it works!
ammo repack -> ok
Crafting -> ok
healing -> ok
Energy (small + large) repack -> ok
Energy (small + large) use -> ok
Energy (small + large) craft -> ok.

Now you could add to the repack code:
player playMove 'AinvPknlMstpSnonWrflDnon_medic0';
player playMove 'AinvPknlMstpSnonWrflDnon_medicEnd';

:))

[2017-01-26 17:05] #698 closed, assigned to nobody

[2017-02-21 18:51] Ignatz-HeMan opened #702 "Snap on tilted Elements incorrect"
If snapping building elements on tilted elements, the snapping do not work correct.
So it is not possible to place a wall correct on a tilted Floor.
![20170221194717_1](https://cloud.githubusercontent.com/assets/6589278/23179691/10f82e1e-f86f-11e6-805a-cfd744eb36e5.jpg)

[2017-02-26 14:07] #657 closed, assigned to nobody

[2017-02-26 14:12] vbawol commented on #663
I am all for additional options for clothes any PR's for that would likely be accepted, we just need to make sure we still prevent females from changing gender with just a clothing change. Ideally, Female/Male support would be implemented deeper into Arma. Should Arma add proper female support we should look at changing our setup.

[2017-02-26 14:12] #663 closed, assigned to nobody

[2017-03-04 22:47] baaljayjay opened #706 "gamecrash 1.68"
when i try upgrade the building so crash the game.
code: 0xC0000094-STATUS_INTEGER_DIVIDE_BY_ZERO

[2017-03-05 18:49] baaljayjay commented on #706
now it´s working fine so i closed it.

[2017-03-05 18:49] #706 closed, assigned to nobody

[2017-03-09 22:52] vbawol commented on #656
@xai1 are you still running a Linux Epoch server? If so I have some new extensions to test out. These are built using holy build box and should be compatible with a wider range of distros.

32bit Linux:
https://github.com/EpochModTeam/Epoch/blob/experimental/Server_Install_Pack/@epochhive/epochserver.so?raw=true
64bit Linux:
https://github.com/EpochModTeam/Epoch/blob/experimental/Server_Install_Pa

[2017-03-18 10:57] e3drigs opened #710 "Since Arma 3 1.68 Update - Upgrading any building part causes CTD"
As above.

Happening for multiple people using both 32 and 64bit client.

Upgrade menu works ok but when you click the green upgrade icon you get a divide by zero crash.

[Arma3_x64_2017-03-17_22-49-58.txt](https://github.com/EpochModTeam/Epoch/files/852344/Arma3_x64_2017-03-17_22-49-58.txt)

[2017-03-18 11:12] Ignatz-HeMan commented on #710
https://epochmod.com/forum/topic/43507-epoch-arma-168-compatible/?do=findComment&comment=288612
These changes fix it

[2017-03-18 12:13] vbawol commented on #710
Will try to get this fix out soon.

[2017-03-21 20:55] vbawol commented on #656
Please open a new issue if you have any problems after 0.5 drops.

[2017-03-21 20:55] #656 closed, assigned to nobody

[2017-03-22 19:05] RJL1100 opened #711 "Since Arma 3 1.68 update Players cannot unlock garage doors"
Some players cannot unlock their base garage doors. If you remove and replace the door you can unlock and open the door, however you can't close the door.
The boom gate at Mine will not open as well.

[2017-03-27 20:37] baaljayjay opened #715 "kick when Blackfish with vehicle loaded"
attachto restricton 0

[2017-03-30 16:19] #710 closed, assigned to nobody

[2017-03-30 16:35] vbawol commented on #652
@baaljayjay  How are you breaking out of the mission?

[2017-03-30 16:53] vbawol commented on #715
The filter does allow the vehicle you attached to, so I can only guess the current filter is too complex for Arma to handle.

[code]

[code]

[2017-03-30 16:57] vbawol commented on #711
Sounds like simulation is being disabled on some prop objects. Base building objects should not have this issue are you using anything that would disable simulation?

[2017-03-30 16:59] vbawol commented on #599
Will close this for now as it can be added server side if the admin chooses.

[2017-03-30 16:59] #599 closed, assigned to nobody

[2017-03-30 17:03] vbawol commented on #528
These locations can be made with this tool: https://github.com/EpochModTeam/Epoch/blob/release/Tools/SQF/saveLootPositionsVector.sqf

[2017-03-30 17:03] #528 closed

[2017-03-30 17:08] vbawol commented on #80
This code is the main mod not the gamemode and maybe solvable, with a workaround to the flip vehicle code.

The current code is:
https://github.com/EpochModTeam/EpochCore/blob/9e91ecb65d46d81a9af51c3f5d339bfd30d90156/Sources/a3_epoch_configs/Configs/CfgVehicles.hpp#L4001

tracking here: https://github.com/EpochModTeam/EpochCore/issues/5

[2017-03-30 17:08] #80 closed

[2017-03-30 17:10] vbawol commented on #257
Not really sure what we can do that isn't just a hacky workaround. So, for now we are going to leave this as a known issue.

[2017-03-30 17:10] #257 closed

[2017-03-30 17:11] vbawol commented on #678
tracking here: https://github.com/EpochModTeam/EpochCore/issues/5

[2017-03-30 17:11] #678 closed, assigned to nobody

[2017-03-30 17:15] vbawol commented on #507
All our @epoch sources are now available via GitHub and LFS to use as examples and we welcome your game ready contributions on EpochCore Github: https://github.com/EpochModTeam/EpochCore

Install both: https://desktop.github.com/ and https://git-lfs.github.com/ clone the repo and you can see all of our work.

Tracking this here:
https://github.com/EpochModTeam/EpochCore/issues/5

[2017-03-30 17:15] #507 closed

[2017-03-30 17:20] Ignatz-HeMan commented on #257
We could try it with something like this in DisplayaddEH:
if (_dik == ???) then {
_intersect = lineIntersects [ eyePos player, [(eyePos player) select 0,(eyePos player) select 1,((eyePos player) select 2)+0.5]];
if (_intersect then {_handled = true};
};
If I have a bit more time, I can try it...

[2017-03-30 17:21] vbawol commented on #593
tracking here: https://github.com/EpochModTeam/EpochCore/issues/5

[2017-03-30 17:21] #593 closed, assigned to nobody

[2017-03-30 17:43] Ignatz-HeMan commented on #652
"Reset Mission" on Mission selection

[2017-03-30 19:45] RJL1100 commented on #711
No, this issue is also occurring in Exile where a player is unable to unlock or open a door that has been crafted or built, so is a Arma 3 update glitch

[2017-03-30 19:45] #711 closed, assigned to nobody

[2017-03-30 19:51] ReDBaroN1 commented on #711
enableDynamicSimulation true;

This is new in 1.68 and allows to interact with objects you need to interact with when a player is within 50m

[2017-04-03 15:01] vbawol opened #727 "Dynamic Simulation"
https://community.bistudio.com/wiki/Arma_3_Dynamic_Simulation

- [x] simplify our server monitor fsm by removing our own vehicle simulation handler.
- [x] make sure dynamic simulation is enabled properly on all vehicles and working better than old method.

[2017-04-03 15:07] vbawol opened #728 "CfgDisabledCommands"
https://community.bistudio.com/wiki/CfgDisabledCommands

Way to add extra security by disabling unused commands and enforcing specific syntax usages.

Pros:
- [x] Can enforce the usage of more secure command syntaxes like global init in createUnit Alternative Syntax.

Cons:
- [x] Will make it harder to add custom mods and addons as some commands may only work in a certain syntax or not at all.
- [

[2017-04-17 17:35] Ignatz-HeMan commented on #191
Should be fixed in Experimental

[2017-04-17 23:04] baaljayjay commented on #507
I do not know whether to write further here or not.
Therefore, I write first and wait for the first answer.
So I share my crazy idea first

de lisle carbine is suppressor carbine like asp kir and use .45 acp pistol mag.
Johnson m1941 is a WWII semi rifle use .30-06 ten rounds.
 M4 survialrifle use .22 hornet 4 round mag.
9mm pistol carbine use 16rnd, 30rnd 9mm mag.
snider-enfiedl rifle use .577 en

[2017-04-18 18:44] SirDice opened #746 "MPmissions contain syntax errors"
Running experimental branch. Tested with epoch.Tanoa map but looking at the sources I suspect all mission files are affected.

Actual error:
` 5:18:50 File mpmissions\__cur_mp.Tanoa\epoch_config\Configs\cfgPricing.hpp, line 4508: '/CfgPricing/revolver01.price': Missing ';' prior '}'
5:18:50 File mpmissions\__cur_mp.Tanoa\epoch_config\Configs\cfgPricing.hpp, line 4509: '/CfgPricing/VG_sawed_off_01.

[2017-04-18 19:07] vbawol commented on #746
scratch that, the error exists in b749 and I see the issue. This should be fixed as of the most recent experimental release: b754 soon to be released.

[2017-04-18 19:13] SirDice commented on #746
Ah. I fixed my server over the weekend. Now I see a commit from yesterday.  But it's still there:
`
  class revolver01                        { price = 55 };
  class VG_sawed_off_01                   { price = 120 };
    class Devastator_01                     { price = 180 };
    class in005_1Rnd_12Gauge_Pellets        { price = 5 };
    class in005_1Rnd_12Gauge_Slug           { price = 5 };

[2017-04-18 19:22] SirDice commented on #746
According to epoch_config/build.hpp I have build 753. I fixed it for my own server, easy enough.  I'll wait for the update.

[2017-04-18 19:25] vbawol commented on #746
Thanks for the report, this has been fixed with this commit: https://github.com/EpochModTeam/Epoch/commit/fe3c4644724268c0f669acdbc07c60d986399464 and is a part of b754:
https://github.com/EpochModTeam/Epoch/commit/3317b8f25dc9dd58b8b38d7d584d04d0cf52f4e0

[2017-04-18 19:39] SirDice opened #747 "variable mixup in epoch_server/compile/epoch_missions/EPOCH_Server_createObject.sqf"
Latest build; 754. Variable mixup in epoch_server/compile/epoch_missions/EPOCH_Server_createObject.sqf lines 25-26:
[code]

Line 25 uses _loot_TableIndex but line 26 _allowedVehicleIndex.
Judging by the code I'm assuming these variables should be the same. It throws an error because _allowedVehicleIndex is unknown.

[2017-04-18 19:42] SirDice commented on #746
Yes, that's fixed now.

[2017-04-18 19:58] #746 closed, assigned to nobody

[2017-04-18 20:34] vbawol commented on #747
Thanks @SirDice, just fixed this with https://github.com/EpochModTeam/Epoch/commit/b5584ffbfe3419a71ff048909063118837215c2e

[2017-04-18 20:34] #747 closed, assigned to nobody

[2017-04-25 14:01] vbawol commented on #191
Can confirm that you fixed it, Good job @Ignatz-HeMan !

[2017-04-25 14:01] #191 closed

[2017-05-04 03:00] Ghostrider-DbD- opened #750 "CfgPricing.hpp"
The logs show an error for some entries in CfgPricing.hpp like this one:

22:48:41 File mpmissions\__cur_mp.Altis\epoch_config\Configs\cfgPricing.hpp, line 4508: '/CfgPricing/revolver01.price': Missing ';' prior '}'

I think that lines 4516-4524 are missing a semicolon and should be:

    // MAD ARMA
    class revolver01                        { price = 55; };
    class VG_sawed_off_01

[2017-05-05 12:15] vbawol commented on #750
Thanks @Ghostrider-DbD- This is already in the experimental files, just not pushed to stable yet.

[2017-05-09 16:07] vbawol commented on #750
fixed as of https://github.com/EpochModTeam/Epoch/releases/tag/0.5.0.0757 release, if not please reopen.

[2017-05-09 16:07] #750 closed, assigned to nobody

[2017-05-23 21:03] baaljayjay commented on #507
type 63 is a chinese weapon (this was the third try and often change).
It is a mixture of sks and akm has full auto and exchangeable mag.
second gun is german vg1-5.This version use 7,62x39mm(original use 7,92x33mm kurz).
(mags is from akm and not from me)

https://drive.google.com/file/d/0B2PXTFaiSMInanZ3Tm56SF9jdTQ/view?usp=sharing

[2017-05-27 18:56] Vampurica opened #756 "Keyring (Car Keys) Dialog"
I'm requesting a Car Keys or Keyring dialog be created for Epoch to start moving towards the direction of "virtual keys".

It can be formatted to fit Epoch's theme of course but it should have a few necessary features.
- Must be able to display an array of virtual keys on the player. This will likely be a nested array variable showing the name of the object, a "password", and how many copies they

[2017-05-27 23:46] Ignatz-HeMan commented on #702
Now after working a lot on the Vector Building, I am pretty sure it is nearly not possible to fix this.
The problem is, that vectorup and vectordir rotates on the world-axis and not on the element axis.
I found no solution to recalculate it.
If nobody else has an idea how to handle it, we can close it. But with Vector Building, we can now place the elements very exact in free build.

[2017-05-27 23:51] Ignatz-HeMan commented on #652
Fixed:
https://github.com/EpochModTeam/Epoch/pull/748

[2017-05-27 23:55] Ignatz-HeMan commented on #643
Added to Experimental and coming at least with 0.6
https://github.com/EpochModTeam/Epoch/pull/755

[2017-06-01 20:05] Tarabass999 opened #759 "Build 777 Events"
Wrecked vehicles spawn events also spawn them on airports, what makes it impossible to start/land a plane.

Trash from em can also get examined for unlimited times to get soiled very quick without any loot

[2017-06-03 21:43] baaljayjay commented on #643
Really good Ignatz_HeMan.
Now I have a question
Is that what the larger water tank?

[2017-06-03 22:35] Ignatz-HeMan commented on #643
All Items, where you can fill a water bottle will also work with this.
It is the same config.

[2017-06-05 20:25] Tarabass999 opened #760 "show corpses"
option to show corpses seems to be broken. Can not see corpses anymore with admin menu since Epoch 0.5

[2017-06-06 16:47] Tarabass999 commented on #759
I saw some wrecked Vehicles and trash also spawn up on trees.

[2017-06-06 19:51] baaljayjay commented on #643
You can´t drink when bigger water tank and water tank on top

[2017-06-06 19:55] Ignatz-HeMan commented on #643
Is it possible to fill bottles there?
As I said, it use the same config as the filling for bottles

[2017-06-06 19:56] baaljayjay commented on #643
can it write in german?
yes

[2017-06-06 19:57] Ignatz-HeMan commented on #643
You can write me in Discord or Epoch forum a private message. If I can fix it, I will do...

[2017-06-11 18:08] vbawol commented on #760
Fixed as of b788, thanks for the report!

[2017-06-11 18:08] #760 closed, assigned to nobody

[2017-06-13 01:20] Tarabass999 opened #761 "Experimental Epoch + Dev. A3 1.73"
Experimental Epoch + Dev. A3 1.73

I'm getting an error if I examine in the air:
in epoch_code\compile\functions\EPOCH_worldObjectType.sqf:
if (_object isEqualType objNull && !(isNull _object)) then {
if !(_object isKindOf "All") then {
Error Allgemeiner Fehler in Ausdruck
what means
Error general failure in expression

hope that helps

[2017-06-13 01:50] Tarabass999 commented on #761
My update failure... sorry too late

[2017-06-13 01:50] #761 closed, assigned to nobody

[2017-06-16 14:29] Vampurica commented on #648
I took a look through the code and it appears fine although `antihack_maxTravelDistance` should be clarified that it is basically max meters per second travel.

Would checking that the player is in a Halo animation be a valid exemption?

Example code (untested) for `server_securityfunctions.sqf`
This is at line 875.

[code]

I understand that allowing someone in a specific animation to avoid AntiT

[2017-06-16 14:46] Vampurica commented on #728
I think this could be very useful as long as it is used sparingly. Things like remoteExec and other such "dangerous" commands.
Attempting to remove every command not used be vanilla epoch instead would be pretty detrimental to mod makers.

[2017-06-16 23:20] Vampurica commented on #340
The below code should disable all Altis/Stratis/Tanoa pumps from autorefuel.
[code]

Not sure where it would be best to put it.

[2017-06-19 15:44] vbawol commented on #759
This should be fixed, just needed to tweak the start and stop positions for the surfaceNormal and intersect.
Also, I added a bit of code that should prevent this debris from spawning within 100m of the Airport location.

[2017-06-19 16:00] vbawol commented on #643
Thanks for adding this @Ignatz-HeMan !

[2017-06-19 16:00] #643 closed, assigned to nobody

[2017-06-19 16:05] vbawol commented on #728
Ya, this is likely better left up to the server admins that want the extra security. It would just slow down modding as BE filters already do.

[2017-06-19 16:05] #728 closed, assigned to nobody

[2017-06-19 20:32] Vampurica commented on #611
What if we added meat drying instead? Players can gather Sea Salt (without tools) and use that to make dried meat.

In end-game we could add drying racks to allow large amounts to be done at a time instead of a (presumably) long timed single item crafting recipe.

[2017-06-19 22:16] #652 closed, assigned to andgregor, vbawol

[2017-06-19 22:17] vbawol commented on #340
Thanks @SMVampire case closed here 👍

[2017-06-20 14:48] Vampurica opened #766 "Virtual Keys Tracking"
This is a master issue to track the transfer from "lock times" to "virtual" keys.

The goal is to have the players have keys on them that are not inventory items that they use to lock and unlock vehicles much like they did in DayZ: Epoch. This should be designed secure enough to prevent hackers from unlocking vehicles easily.

To do this the server will generate a "secret" when a vehicle becomes k

[2017-06-21 12:07] Vampurica commented on #583
Would using setAnimSpeedCoef on the sharks to speed up their animations be enough? It should make them faster.

setVelocityTransformation is pretty complex and seems like it would have to fire onEachFrame for each shark.

[2017-06-24 13:59] Tarabass999 commented on #648
OMG maybe that's the only problem.. because players fall down with 240 km/h before parachute is opening.. so I changed antihack_maxTravelDistance  to 300 without changing anything in server_securityfunctions.sqf.

Worked fine on testserver... I will try in public, watch rtp and reply soon

[2017-06-24 14:24] baaljayjay opened #768 "weapon holding bug (1.72)"
I have times the weapons tested when I've seen the epoch weapons I'm afraid.
I show the times on pictures.
![20170624124834_1](https://user-images.githubusercontent.com/16623990/27509283-634e9e42-58f9-11e7-8818-45a187dd17e8.jpg)
![20170624124901_1](https://user-images.githubusercontent.com/16623990/27509285-6605b4f4-58f9-11e7-9336-923e345c6f0c.jpg)
![20170624124941_1](https://user-images.githubuse

[2017-06-24 15:51] vbawol commented on #768
@baaljayjay is this with stable or experimental Epoch or both?

[2017-06-24 17:22] Tarabass999 commented on #648
no errors or test TP messages till now... for both: blackfish and Halospawn...

maybe till tomorrow.. but it looks good

[2017-06-24 19:47] baaljayjay commented on #768
experimental epoch. in stable it work fine.

[2017-06-24 20:03] Vampurica commented on #648
At 240km/h that's 66.66~ MP/S.

I was able to hit 565km/h in the blackfish in the editor which is 157mp/s.

Maybe setting the Anti-TP to 180 will be a good value. There will still be issues if someone is using a jet however.

[2017-06-25 00:53] Tarabass999 commented on #648
The only thing a TP happend to players again was when they used ejector seat from new jets

[2017-06-25 01:36] baaljayjay commented on #507
Table saw to cut more efficiently wood.
The one has steam engine the other has an electromotor.
Steam engine has to build a lot of metal, scrap pelt, tin and wood for fire (villeicht you have to fill after each restart wood).
Which needs electromotor metal, tin (much because one the electronic componets to solder), electronic componets, enclosed battery,cable,copper and in the range a solar system

[2017-06-26 17:09] baaljayjay commented on #768
now it work fine!

[2017-06-26 17:09] #768 closed, assigned to nobody

[2017-06-26 19:30] vbawol commented on #768
Thanks, @baaljayjay

[2017-06-29 16:23] Vampurica commented on #411
Can we add removeAllPrimaryWeaponItems/removeAllHandgunItems/{ removeSecondaryWeaponItem _x; } forEach ( secondaryWeaponItems player) on the player creation to prevent the duplication?

https://community.bistudio.com/wiki/removeAllPrimaryWeaponItems
https://community.bistudio.com/wiki/removeAllHandgunItems
https://community.bistudio.com/wiki/removeSecondaryWeaponItem
https://community.bistudio.com

[2017-06-29 19:30] Vampurica commented on #411
I believe all of the weapon item commands require being executed local to the client. Not sure where they need to be moved too, but that is likely the reason why this bug exists.

They are currently running on the server side therefore throwing no errors yet doing nothing.

[2017-06-29 19:58] vbawol commented on #411
It happens when you remove a bipod from a weapon then store it in a vehicle or storage. As there is no way to manipulate the attachments when working with cargo space.

[2017-06-29 22:58] Tarabass999 commented on #648
Ok I didn't get some errors anymore after changing that.. Thank you for your explaining SMVampire and sorry for wasting your time with that vbawol..

[2017-06-29 22:58] #648 closed, assigned to vbawol

[2017-06-29 23:40] Ignatz-HeMan commented on #648
I have not really followed this "problem", but what about checking:
if (((getpos player) select 2)) >100) then {do nothing};
Of course, first check if in Vehicle and check max vehicle speed

[2017-07-07 22:20] Helion4 commented on #611
A small campfire and/or disposable grill would still require a lighter, no?

How about a one use - self lighting - fire kit.....it's the future! Should only last as long as cooking meat, then becomes useless.
Can be found in loot drops, requires no other tools, cannot be used for anything other than cooking meat for a low duration.
A quick concept render -
![firekit_concept](https://user-images.gi

[2017-07-07 23:21] Helion4 commented on #609
would this be easier if growing food was restricted to some kind of grow box? Will growing progress be saved over restarts?
![900b162353737ae81aeff6bb61e29c2d](https://user-images.githubusercontent.com/29925182/27980051-a1717bd0-6372-11e7-92d5-a740a063c010.png)

Where will the seeds come from? Adding packets of seed into the loot table?

[2017-07-08 22:48] #647 closed, assigned to nobody

[2017-07-08 22:49] vbawol commented on #535
Will leave this as is for now as we have not gotten much feedback about this topic.

[2017-07-08 22:49] #535 closed, assigned to nobody

[2017-07-08 23:49] baaljayjay opened #776 "kick when i try to built quarter wood floor"
i try to build quarter wood floor and when i in preview build so battleye kick me.

[2017-07-08 23:50] vbawol commented on #727
First test enable on vehicles: https://github.com/EpochModTeam/Epoch/commit/b2354dc5a641e047d546dbdedb0e83bd68737afd

[2017-07-09 02:57] Ignatz-HeMan commented on #610
Please not! :(

[2017-07-09 11:55] baaljayjay commented on #609
This is very good idea. Perhaps in the size like quarterwood floor.
Maybe you could first test for pumpkins and plant spawn from the server say that there 100% chance pumpkin spawn

[2017-07-09 15:26] baaljayjay commented on #611
My idea epoch goes in two direction the one tries to build with the remnants of civilization what to build and others return the back to go the path of nature.
For your sache needs since you  water because of the chemicals like mre
Or is because this phase-change material?
(ps you can good model)

[2017-07-10 12:15] Vampurica commented on #776
Knowing what the message was is important.
Likely a createVehicle kick I'm guessing?

[2017-07-10 14:21] vbawol commented on #776
I think I got it with https://github.com/EpochModTeam/Epoch/commit/734dc5d2009af9e091b5a1b6fd015e957c20e6ae

[2017-07-10 14:56] T4ss opened #778 "kick bevor select a gender, BattlEye: Script Restriction #49"
10.07.2017 14:50:08: Tass (ip.bla.bla) guidblabla - #49 "wnControlsMap_ctrlHeaderRespawnButton", controlNull]) ctrlAddEventhandler ["ButtonDown",{
["[RESPAWN] Main respawn button used"

temp fix:

https://epochmod.com/forum/topic/43948-fresh-install-battleye-kicks-script-restriction-49/

plz fix in be filters

[2017-07-10 16:09] baaljayjay opened #779 "zeroring the elcan optic"
The fine tuning of the elcan scope is not right.
500-600 m is 300m
800m is 500m
tested in virtual arsenal

[2017-07-10 16:18] baaljayjay commented on #776
nope It has become worse now I can not build a wall, ramp and floor
create vehicle restriction 1

[2017-07-11 12:56] #759 closed, assigned to nobody

[2017-07-11 19:56] baaljayjay commented on #647
Class Kruhm : Item
     {
         usedIn[] = {};
         nearby[] = {{"Fire","","fire",{1,{"ALL"}},3,1,1,0},{"Workbench","","workbench",{1,{"WorkBench_EPOCH"}},3,1,0,1}};
         recipe[] = {{"ItemScraps",8}{"ItemRock",2},{"water_epoch",2},{"Woodclub",1},{"Pelt_Epoch",2};
         previewPosition[] = {0.799442,1,0.426761};
         previewScale = 0.6;
         previewVector = 4,9;
	};

     Cla

[2017-07-13 00:18] Vampurica commented on #340
My code is not working on experimental. setFuelCargo must be executed on each client to work.
Not sure that we want to put this code on the client. Maybe store all the pump objects the server finds in a publicVariable and have each client run the code on spawn? Issue needs reopened.

Need advised.

[2017-07-16 17:35] vbawol commented on #779
This is the configs for the elcan optics, https://github.com/EpochModTeam/EpochCore/blob/experimental/Sources/a3_epoch_configs/Configs/CfgWeapons.hpp#L5405-L5487 any suggested changes?

[2017-07-16 18:05] vbawol commented on #609
I think that would work @Helion4 we can easily persist the growing states just by treating it as an insecure storage device. It would be one single object with visible weapon holders (similar to our loot objects). The server could check these gardens and exchange the seeds for the more mature items.

We currently have: Poppy, Goldenseal, Pumpkin.
https://github.com/EpochModTeam/EpochCore/blob/expe

[2017-07-16 18:13] vbawol commented on #610
Thanks for the suggestions, While server admins can add this already. I do think it is better to only have traders sell what was sold to them, to create a "loot" economy of sorts. This way everything on a trader should represent the time it took that person to find. That said I do think we should look at having black market traders that only deal in certain "bad" items at higher prices.

tracking

[2017-07-16 18:13] #610 closed, assigned to nobody

[2017-07-16 18:16] vbawol commented on #659
Thanks for the suggestion, added to the list of crafting suggestions. https://github.com/EpochModTeam/Epoch/issues/583

[2017-07-16 18:16] #659 closed, assigned to nobody

[2017-07-16 18:34] vbawol commented on #611
Just to note, We do have a fireplace (KitFirePlace) = (2 Rock + 1 Stick) and a Lighter but never made the lighter_epoch a requirement.

I like the instant fire idea but it needs to be easier to craft or find than making the existing fireplace.

For smelting, it could be done with any fire source via the crafting system and just require special items like a smelting toolkit with items such as a cru

[2017-07-16 18:49] vbawol commented on #611
tracking here: https://github.com/EpochModTeam/Epoch/issues/583

[2017-07-16 18:49] #611 closed, assigned to nobody

[2017-07-16 18:55] vbawol commented on #612
We may add more items like this. The system should already allow this for the most part, items can give any attributes and affect blood pressure.
for example, this is the configs for Whiskey Noodle:  https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_config/Configs/CfgItemInteractions.hpp#L160

[2017-07-16 18:55] #612 closed, assigned to nobody

[2017-07-16 19:06] vbawol commented on #658
Will make a config variable that controls this per antagonist.

[2017-07-16 19:06] #658 closed, assigned to nobody

[2017-07-17 11:46] vbawol commented on #778
This should be already fixed in experimental, if not please open another issue.

[2017-07-17 11:46] #778 closed, assigned to vbawol

[2017-07-17 11:51] vbawol commented on #727
this maybe complete as of this PR: https://github.com/EpochModTeam/Epoch/pull/780

[2017-07-17 15:16] vbawol commented on #340
That sounds fine @SMVampire , https://community.bistudio.com/wiki/setFuelCargo says it has global effect if the object is local, but I guess all the static buildings are local to each player and not the server?

[2017-07-17 16:53] ravmustang commented on #727
Config settings added.
https://github.com/EpochModTeam/Epoch/pull/782

[2017-07-18 12:47] ravmustang commented on #583
Barrel Bomb Upright and Horizontal added to core and crafting recipe added
https://github.com/EpochModTeam/EpochCore/pull/27
https://github.com/EpochModTeam/Epoch/pull/784

[2017-07-19 21:12] baaljayjay commented on #609
I do not know what the pecan is exactly and how it tastes.
What to do with the pecan?

[2017-07-19 23:05] Helion4 commented on #609
Pecan is a type of nut that grows on lush green trees, it has many health benefits.

[2017-07-23 01:16] baaljayjay opened #785 "missing item for crafting"
There are missing data in the prescription for vehicle upgrade system and fuel bomb barrel
Either missing or misspelling errors.
It lacks prescription for pipes
Ps for jerrycan times tried a prescription but I did not know how to fill a pull reqeuest #647

![20170723030041_1](https://user-images.githubusercontent.com/16623990/28495636-60acc5ac-6f55-11e7-8845-e69971a8e88f.jpg)
![20170723030037_1](h

[2017-07-24 10:44] raymix opened #786 "Tons of bone and player mass errors"
Hey folks, what am I missing here? It was working fine yesterday, this morning can't run my server, nothing was changed.
Clean DB, latest experimental files, latest game files.
Just getting black screen (ESC works) and tens of thousands of errors. Google has nothing on them.

I have deleted about 80k lines to keep the log clean - https://pastebin.com/KwU87p2p

It starts with bone errors
[code]

an

[2017-07-24 11:22] ReDBaroN1 commented on #786
It's a known issue, @vbawol is looking into it. We've tried a number of things but, can't solve it.

The only known workaround is to the delete the character in redis from player data

[2017-07-24 11:53] raymix commented on #786
Hey ya
I am using fresh database (copied .SO files over from Server_Install_Pack several times), still getting it.
While on the subject, I don't have any frontend tool to access redis, never done it before, what are you using?
***edit***: Did a bit of digging, while I see a lot of people have bone errors, at least they can actually access the server. I am literary stuck at the black screen. This c

[2017-07-24 12:12] #786 closed, assigned to nobody

[2017-07-24 12:22] ReDBaroN1 commented on #786
nice 👍

[2017-07-24 12:45] vbawol commented on #786
The bone errors do not affect anything that I am aware of. The DEBUG errors are an issue I am trying to fix but it is not easy as it is hard to reproduce that exact issue so far.

[2017-07-24 12:51] raymix commented on #786
@vbawol Looks like I still have the corrupt database file (didn't delete it, just moved to recycle bin) if you want to look at it.
Not sure if this will help you or not, but I understand that the error is tied to my steam ID, right?
See if it helps at all.
Map is epoch.Stratis, not sure if relevant.

https://raimonds.me/dump.zip

[2017-07-24 18:56] raymix commented on #785
Hey, problem with your item is exactly the same as problem with Vehicle upgrade kits.
The script basically expects you to define items inside recipe[] as kits, items or parts.
If your item is only used as a part to create other items and is not crafted on it's own, you ***MUST*** define it at least as a "part".
See line 90: https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_conf

[2017-07-24 18:58] raymix commented on #785
[code]

[2017-07-24 19:16] raymix commented on #785
Forgot to mention, I will do the commit in few, just wanted to explain

[2017-07-24 20:27] #785 closed, assigned to raymix

[2017-07-24 20:42] raymix opened #790 "Bug in some item configs?"
[code]
This only happens to few items, but affects other items up in cfgCrafting hierarchy, too. Looks like configs for these items are either incomplete or have errors.

**Errors on following items:**
KitVehicleUpgradeII_100_EPOCH
KitVehicleUpgradeII_200_EPOCH
KitVehicleUpgradeII_300_EPOCH
KitVehicleUpgradeIII_100_EPOCH
KitVehicleUpgradeIII_200_EPOCH
KitVehicleUpgradeIII_300_EPOCH
ItemVehDoc1
Ite

[2017-07-24 20:43] raymix commented on #790
[code]

**Errors on following items:**
KitVehicleUpgradeIII_100_EPOCH
KitVehicleUpgradeIII_200_EPOCH
KitVehicleUpgradeIII_300_EPOCH

[2017-07-24 20:45] raymix commented on #790
Full Briefcase (Silver) - ***CRASHES GAME!***

[code]

[2017-07-24 20:47] raymix commented on #790
@ravmustang @Ignatz-HeMan  any clues, guys?
Are these items ported from Arma 2 Dayz? Must be missing something.
As for briefcase, I think this is an old issue that was never reported and fixed.

[2017-07-24 21:12] ravmustang commented on #790
@raymix hey bud, no problem let's work this out.
Are these errors while doing the crafting of the kits?

[2017-07-24 21:24] raymix commented on #790
@ravmustang
Actually as soon as you open crafting menu and every time you click affected items.
![image](https://user-images.githubusercontent.com/7531643/28545425-d88efba2-70be-11e7-98ba-5b6bb3314e86.png)

[2017-07-24 21:31] ravmustang commented on #790
roger that, im starting up my test instance.
will make right what is wrong as soon as possible

[2017-07-24 21:33] raymix commented on #790
Thanks man. Please don't forget to grab latest CfgCrafting.hpp from experimental branch otherwise you'll run into issues that were fixed and were not related to this :)

[2017-07-24 21:35] ravmustang commented on #790
was just looking at the commit now ;)

[2017-07-24 21:43] raymix commented on #790
Hmm
Not sure if relevant to the issue, but I can't seem to find "Vehicle Upgrade X Kits" under admin menu.
Is this because they are not defined as items?
Although I do not get any errors while clicking them. Only getting errors when clicking on items that are using "Vehicle Upgrade X kit".
I have a wild suspicion that these kits need to be defined elsewhere, similar to how documents were added.

!

[2017-07-24 21:49] ravmustang commented on #790
Those new kits are in configs on EPOCH experimental branch.
https://github.com/EpochModTeam/EpochCore/pull/22

[2017-07-24 22:37] ravmustang commented on #790
First error is with ItemPipes, looks like a descriptionShort issue. Will investigate further.

[code]

Second error is with ItemBarrelE
[code]

[2017-07-24 23:19] ravmustang commented on #790
First error fix
ItemPipes is actually ItemPipe.

https://github.com/EpochModTeam/Epoch/pull/791

[2017-07-24 23:35] ravmustang commented on #790
Fixed ItemPipe in the cfgCrafting menu and now we are left with a couple of errors only.
This is only opening the menu first and trying to remove the errors present here.
If you look closely it repeats itself from CSGAS forward for 5 entries and throws those 2 errors that should only trip upon calling the function, not after the loop has started...

[code]

EDIT:
This error IMHO is not related to

[2017-07-25 00:46] raymix commented on #790
It's not, no. I think it's more to do with actual item configs - cfgMagazines or whatever is used, can't lookup now.

[2017-07-25 00:50] ravmustang commented on #790
Ive done a thorough debug of the getConfig and this is the end result.
On opening of crafting menu only, no clicking on menu done yet.
No errors for any of the pulled info until it duplicates its search for 5 items.
This is the output

[code]

[2017-07-25 00:58] raymix commented on #790
I'll try to debug EPOCH_crafting_getConfig in the morning, see what arguments it is not happy about. Looks like it has issues pulling something from config for those few items.
Thanks for the log, nice job

[2017-07-25 01:02] ravmustang commented on #790
I have traced it back to the config_load function.
FYI, My logs show that the errors are happening after the menu loads and then it does its search for the items that can be built with the item you selected in inventory > craft

[2017-07-25 01:04] ravmustang commented on #790
[code]

Notice the constant _this.
That shows me its in the loop from the original _recipeConfigs sent from crafting_load.
Then its doing its search for what it can craft into...
More searching to be done, I will continue on

[2017-07-25 02:15] raymix commented on #790
lol I figured it out... you were spot on about those 2. Looks like there's either a bug or limitation. I remembered that to be able to read inherited data you have to use [configProperties ](https://community.bistudio.com/wiki/configProperties)command, where a similar [configClasses ](https://community.bistudio.com/wiki/configClasses)command would fail in similar fashion.

Fix - don't inherit from

[2017-07-25 02:24] raymix commented on #790
Thanks for help @ravmustang!

[2017-07-25 02:24] #790 closed, assigned to raymix

[2017-07-25 02:30] ravmustang commented on #790
I have produced an error free opening up of the crafting menu.
Modification used:
EPOCH_crafting_getConfig.sqf
Remove _arrIn = params[0,[0]];
Added _arrIn = _this; and a debug line of code.

[code]

[2017-07-25 02:33] ravmustang commented on #790
I have no errors popping and still have the inherited crafting configs.
I have tested the issue was the use of params[0,[0]];
As soon as the erroneous data trying to be looped was removed we have no issues.
Please look this over in the morning.
THX

[2017-07-25 02:35] raymix commented on #790
If you look below, you can see that _this is used with forEach command already. The reason we use **param** command is to try to avoid wrong input params .. which could also cause errors.

But that seems to break convenience of having inherits. I like your fix better to be honest.
Would you like to proceed with the pull request?

[2017-07-25 02:45] raymix opened #792 "briefcase_brown.p3d CTD during crafting"
Hi @vbawol

Sorry if I am missing something and this has already been resolved.
There's an error message with **briefcase_brown.p3d** coming from **CfgMagazines.hpp line 389** which causes game to CTD.
I have checked **EpochCore\Sources\a3_epoch_community\models** and can verify the source file exists.
However it does not exist in a .PBO file, please see below:
![image](https://user-images.githubu

[2017-07-25 08:25] ravmustang commented on #790
That will be fine sir!
Thank you for your time and energy through this as well.
I will do several more tests in the morning to confirm my tests from last night.

[2017-07-25 12:59] vbawol commented on #792
Oh my fault, I did not repack that pbo yet. Will get it pushed here soon.

[2017-07-25 14:33] ravmustang commented on #792
LOL I just realized why as well guys!
Community PBO to the rescue

This will clear up any issues with the 100ozSilver Briefcase and the Top Secret Document.
VBAWOL please push the Languages PBO as well, I saw an error for the stringtable.xml dealing with the top secret document as well

[2017-07-25 16:33] vbawol commented on #792
All pbo's repacked and pushed to experimental

[2017-07-25 16:33] #792 closed, assigned to nobody

[2017-07-25 16:37] raymix commented on #792
Thanks buddy!

[2017-07-25 19:17] baaljayjay commented on #779
I think the eye is set too low because I believe the eye is the center point

[2017-07-25 19:31] ravmustang commented on #792
Super fast! Gonna call you flash from now on ;)

[2017-07-25 21:55] baaljayjay commented on #507
I have once again modeled the ignition needle gun.
(The first model looks awful)
Then an ar7 should use 10 rnd. 22 ruger.
Matchlock and flintlock rifle with ammo. (Paper unit cartridges).
Then a WW2 exp bullpup assaultrifle use 7.62x39mm.
Then a simple singleshot rifle use 9mm or 6x30 epoch round.
Single shot pistol use .22 / 9mm / .45 acp.
From fun I have times m14 with akm mag joined together bu

[2017-07-27 13:23] vbawol opened #796 "Radiation"
TODO:
- [x] Out of bounds detection adding radiation
- [x] Geiger counter sounds
- [x] play Geiger sounds based on rad level.
- [x] Screen effect when taking radiation damage, see: [Epoch_setRadiation](https://github.com/EpochModTeam/Epoch/blob/e16ee710ae7cd909fa4f9b1eae569a182e8cc10d/Sources/epoch_code/gui/scripts/post_process/Epoch_setRadiation.sqf )
- [ ] Digital Geiger Counter HUD
- [x] Geiger

[2017-07-27 13:34] vbawol opened #797 "New Food/Plant Items:"
"Seed" magazine items for #798 :
- [ ] Poppy
- [ ] Goldenseal
- [ ] Pumpkin
- [ ] Hemp

We could also add:
- [ ] Sunflower Seeds (Food)
- [ ] Hot Axe Brand "Hot Sauce" http://thefreezer.co.uk/EpochMod/hotaxesco.jpg
- [ ] 100 Krypto "Candy Bar" (Snooters reskin?) http://i.imgur.com/yQJlqps.png
- [ ] Sub Zero Ice Cream (Freeze Dry)
- [ ] Gyro Wrap (Freeze Dry)
- [ ] Burger (Red Burger / Blue King) (

[2017-07-27 15:28] vbawol commented on #796
see #846

[2017-07-27 15:37] vbawol opened #798 "Farming"
Persist the growing states just by treating it as an insecure storage device. It would be one single object with visible weapon holders (similar to our loot objects). The server could check these gardens and exchange the seeds for the more mature items.

Needed Changes:
- [Rejected] Speed of growth based on a factor of https://community.bistudio.com/wiki/accTime
- [x] Craft a harvested plant item

[2017-07-27 15:39] vbawol commented on #798
Models:
see Farm Plot #846

[2017-07-27 15:42] vbawol commented on #798
Optional:
For Trees like Apple, Pecans, etc. we could have a single tree object that once mature would have weaponholders to see the fruit grown on the tree (i.e. generate apples periodically).

[2017-07-27 15:46] vbawol commented on #609
Ok closing this to track the required changes here https://github.com/EpochModTeam/Epoch/issues/798, we can always add more options after we get the framework built.

[2017-07-27 15:46] #609 closed, assigned to nobody

[2017-07-27 15:53] andgregor commented on #798
Could we have a separate process that ripens the harvest via database values, taking the work away from the game server ? Plants are then only updated to their current state as a player moves within range.

[2017-07-27 17:03] vbawol commented on #798
Sure, we could have more realistic stages.

I was just thinking one would simply plant a seed in the farm plot and have the server track it from the last save.  Farms would then be pushed to an array (EPOCH_FARMS) added via the storage save code.
This array could then be used via the existing event loop server side checking for plots that have seeds and have not been saved within x minutes.  So, I

[2017-07-28 15:52] raymix opened #800 "UI"
**UI **
- [x] Favorites Bar
- [ ] Virtual gear and implants
- [x] Multi line message
- [ ] Trader menu revamp (WIP)
- [x] Geiger counter for UI
- [ ] HUD nano effects
- [ ] Unified theme design on all UI tools (still deciding)
- [x] Fix HTML changelog in ESC menu
- [ ] Integrate Group system under ESC menu
- [x] Remove unused menu from ESC dropdown (not gonna work)
- [ ] Voting system in ESC menu

[2017-07-28 16:44] baaljayjay commented on #796
I actually wanted to start a medi issue but maybe a part here purely I have times with blender tablet models of other medicine junk.
I think you can use it.

https://drive.google.com/file/d/0B2PXTFaiSMInZVA3M0pTbGU0X0U/view?usp=sharing

[2017-07-28 21:20] vbawol opened #801 "Vehicle Repair"
Hull (HitHull, HitBody)
- [x] Corrugated - Major body repairs.
- [x] Scrap Metal - Minor body repairs.

Windows (HitGlass)
- [x] Glass Panels  - repair windows at any stage.

Wheels (HitWheel)
- [x] Spare Tire  - The only item that can repair fully damaged wheels.
- [x] Tire Repair Kit - Repair flats on wheels that are not fully damaged. Use existing item: VehicleRepair

Engine (HitEngine)
- [x] E

[2017-07-28 21:20] vbawol commented on #801
Models:
- [x]  Glass Panels @Helion4
- [x] Duct Tape
- [x] Fuel Tank
- [x] Short Block Engine (with Pistons, Crankshaft, Cams)
- [x] Engine Parts (Spark Plugs, Belts, Hoses)
- [x] Rotor Parts (Helicopter rotor parts)

[2017-07-28 23:06] baaljayjay commented on #797
Could one also paste rotten food? For example on inflated cans one gets ill blurred vision like alcohol and loses to hunger and thirst because one vomits
Milk the goat milk (needs empty jar) and mix with milk powder with water

[2017-07-29 04:39] ravmustang commented on #776
@baaljayjay
This has been resolved and waiting for approval.
https://github.com/EpochModTeam/Epoch/pull/802

The combination of all the ghost elements was causing the conflict.
Ghost pieces split up and the wood types in their own != like the sim and epoch ones are done below it.

[2017-07-31 02:09] raymix opened #803 "Black screen bug"
Just managed to get it again, but this time I got RPT logs which might tell some of the story.

**MAP**: VR
**Can reproduce**: probably not willingly without code modification, however I think I might be on to something
**What I was doing***: Nothing really, just dev shit - giving myself items via admin menu and trying to manipulate inventory from scripts
[RPT 1](https://pastebin.com/8EEV8LtN)
[RP

[2017-07-31 02:34] ravmustang commented on #803
The first error you mention about 2:32:07 Client: Object 3:13 (type Type_127) not found.
This is arma spam concerning non-local vehicles, not to be worried about...

Final Player mass check: FAILED (976 != 263)"
Final Player mass checks are done on logging in while you are still in the player_login.fsm
This is being done in the "check new player not null" FSM condition which uses this code

[code]

[2017-08-02 17:19] baaljayjay opened #806 "battleye kick´s"
When i do nothing so kick battleye me  (Battleye: Script restriction 1).
battleye kick me when i open the inventory (Battleye: Script restriction 43) and when i press 1 so kick me
(Battleye: Script restriction 6, probably it's at the Favorites Bar).

Best Regards
jayjay

[2017-08-04 09:08] raymix commented on #806
Hi jayjay
Thanks for reporting this. Favbar has been developed without filters to avoid hindering progress and has been patched quite a bit lately. Once we can confirm it's in a good shape, we can go on and set up filters for it. Although I am not good with filters (been years), so I will gladly accept any help with them :)

[2017-08-04 14:11] vbawol commented on #340
As per this comment https://epochmod.com/forum/topic/44293-auto-refuel-still-working-in-experimental/?do=findComment&comment=296977 that last change got it. Thanks for the help on this @SMVampire .

[2017-08-04 14:11] #340 closed

[2017-08-04 14:12] vbawol commented on #806
I will see if I can find some time to sort these filters out here soon.

[2017-08-04 14:13] #776 closed, assigned to vbawol

[2017-08-04 14:14] vbawol commented on #727
Performance seems good, but we wont really know till players get ahold of it so closing this for now.

[2017-08-04 14:14] #727 closed, assigned to nobody

[2017-08-04 16:38] ravmustang commented on #806
Hey guys I gotcha covered since this new feature is going to be just WOW!
So this morning I have gotten us to the next stage of eXperimental testing of @raymix FavBar!

https://github.com/EpochModTeam/Epoch/pull/811

@baaljayjay
The above was merged today, please continue testing the fav bar! THX for your reports!

[2017-08-04 22:36] baaljayjay commented on #806
it works.
But for that a new problem has found namely when one builds and physik gains so component falls down or collitates with other component and moves. battleye kick me.
(Battleye: create vehicle restriction 1)

[2017-08-04 23:05] ravmustang commented on #806
Any chance you could recreate and post the full log of that kick. I believe I mentioned an example in another one of your issues posts :)
It will be in your create vehicle.log in the battleye folder with the filters

[2017-08-04 23:44] ravmustang commented on #779
Thanks for the info on this one bud.
Took this one under my wing today and I feel I was successful.
Take a look here and give it some more testing
https://github.com/EpochModTeam/EpochCore/pull/36

[2017-08-05 01:45] ravmustang commented on #806
@baaljayjay
Kicks for simulated physx objects falling down when built have been fixed.
Tested with Large Wall and Wood Floor and Wood Stairs.
I do encourage more testing! thanks for your report!
https://github.com/EpochModTeam/Epoch/pull/815

[2017-08-05 03:24] vbawol commented on #806
Looks like @ravmustang  has this handled 👍
[code]

[2017-08-09 16:47] #779 closed, assigned to nobody

[2017-08-09 16:49] vbawol commented on #803
I want to change to set|getUnitLoadout as I think we can do away with the mass check as set|getUnitLoadout is supposed to have a global effect.

Only, issue is that BI states that the format may change and that could cause some issues in the future.

[2017-08-09 16:59] Ignatz-HeMan commented on #803
Yeah, I'm with you. But you should add a check, if the old or new syntax is saved to the DB.
So let the old script in for a while and on login check, if it is already saved in new syntax?!

[2017-08-09 17:14] ravmustang commented on #803
Suggestion: set defaults like the player vars in the configs.
I believe I have the empty array with comments as to what is what.
This default structure will then be able to be modified on the fly by server owners if Bohemia ever updates and changes the function.

[2017-08-09 17:22] raymix commented on #803
The whole FavBar is built around set/getUnitLoadout, if that damn thing changes, I am in more trouble than you are @vbawol :D

[2017-08-13 16:07] Ghostrider-DbD- opened #822 "Description.ext: add showHUD[] = ..."
One of the quirks of v0.5.0 and below has been that certain number keys open the command menu.
This can be suppressed by setting that parameter in description.ext.
Doing so opens up additional possibilities for key mapping those numeric keys.
A link for this parameter definition is: https://community.bistudio.com/wiki/Description.ext#showHUD
An example I have started using on our server is shown b

[2017-08-16 23:27] morgoth0 opened #824 "Vehicle Damage On Spawn"
Might be going mad but I noticed that none of the spawned vehicles were actually being damaged despite the code looking okay. I altered line 66 of EPOCH_spawn_vehicle from:

			_vehObj setHitIndex [_forEachIndex,random(_maxDamage)];

to:

			_vehObj setHitIndex [_forEachIndex,((random 1 max 0.1) min _maxDamage)];

and that seemed to do the trick...

I can add this to Experimental if other people s

[2017-08-18 13:31] vbawol commented on #822
Thanks @Ghostrider-DbD- !

[2017-08-18 13:31] #822 closed, assigned to nobody

[2017-08-18 13:36] vbawol commented on #824
Thanks! got this merged.

[2017-08-18 13:36] #824 closed, assigned to nobody

[2017-08-18 14:37] #806 closed, assigned to vbawol

[2017-08-18 16:09] morgoth0 commented on #824
Actually I was somewhat going mad. The original code in EPOCH_spawn_vehicle.sqf is fine (I thought it was). On further testing the vehicles are **spawned** with damage. The issue is that the damage is not applied in EPOCH_load)vehicles.sqf because at the time that the damage is applied, the vehicle has allowdamage false on it.

The solution is to back out the change I suggested and change lines 17

[2017-08-18 16:11] morgoth0 opened #825 "Vehicle Damage on Spawn - Corrected..."
Re: Issue 824

Actually I was somewhat going mad. The original code in EPOCH_spawn_vehicle.sqf is fine (I thought it was). On further testing the vehicles are spawned with damage. The issue is that the damage is not applied in EPOCH_load_vehicles.sqf because at the time that the damage is applied, the vehicle has allowdamage false on it.

The solution is to back out the change I suggested and chan

[2017-08-18 16:20] vbawol commented on #824
Funny as the wiki states "The command does not prevent object from taking scripted damage such as setHit, setHitIndex..." https://community.bistudio.com/wiki/allowDamage

[2017-08-18 16:28] morgoth0 commented on #824
Agreed, but I tested it properly this time. I was actually pointed at the problem/solution from the second note on this: https://community.bistudio.com/wiki/setHitPointDamage

[2017-08-18 16:29] vbawol commented on #824
True but we are not using setHitPointDamage but setHitIndex. I will simply move the setdamage and setHitIndex calls above the allowdamage false, that should get it.

[2017-08-18 17:07] morgoth0 commented on #824
Yep, that would work. I sort of assumed that if one was "broke" (setHitIndex) then the other would be too - since the note was added in 2016 and the original docs in 2013...

[2017-08-18 17:18] vbawol commented on #824
https://github.com/EpochModTeam/Epoch/commit/94c5fee87779eed4cc4130c3c08e17aafa045826

[2017-08-21 14:17] vbawol commented on #801
Looks like this is complete, Good work guys!

[2017-08-21 14:17] #801 closed, assigned to nobody

[2017-08-21 14:26] vbawol commented on #803
We are now using set/getUnitLoadout after the player has connected once they will be upgraded so the subsequent logins will use it. The new code is faster and global so I think this should result in fewer propagation issues.

[2017-08-21 14:29] vbawol commented on #803
Note on "bad conversion: bool":
I think this due to the use of true/false boolean in configs, Arma does not really support it and we even have to use a workaround. It could possibly be fixed by changing all true/false in configs to 1/0.

[2017-08-21 14:34] raymix commented on #803
I didn't even know you can use True/false in configs, was always using 0 and 1 lol

[2017-08-21 15:20] ravmustang commented on #803
The true false, is this in regard to epochcore?

[2017-08-21 16:25] vbawol commented on #803
I think it is from the mission files, I have added this change: https://github.com/EpochModTeam/Epoch/commit/383d67c28c2a0761e37bc26a032885e1bcca0e47 It should convert any gamemode configs that use a boolean to a 1 or 0 and hopefully fix the spam. If it does not fix it then the "bad conversion: bool" maybe from something else.

[2017-08-22 23:47] morgoth0 opened #829 "Tents - buildable, deployable and temp storage"
So, since I basically was told that everything I was thinking about for Epoch 1.0 was already covered, I thought I would make sure there were issues raised to ensure that they were.

The first is a deployable tent (A-frame and Ridge) that would act as temporary storage in the same way that Tipis and Lockboxes do. Would need a packed model for each so that they can be found as loot or crafted (but

[2017-08-22 23:49] morgoth0 commented on #829
And oops... this really should be an issue on EpochCore... my apologies... opening there. Please close this one...

[2017-08-22 23:57] morgoth0 opened #830 "ACE3 Basic Medical and Earplug Integration"
Just basically a placeholder because it's apparently already being worked on. Requesting ACE3 Basic Medical and Earplug persistence through restart if the mod is loaded.

All other features of ACE3 work like a dream so do not explicitly need support within the mod itself, though infiSTAR needs some fixes regarding the scroll wheel on Advanced Throwing and deploying a Tactical Ladder.

Cheers,
Grah

[2017-08-23 13:05] vbawol commented on #825
this should have fixed it: https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_server/compile/epoch_vehicle/EPOCH_spawn_vehicle.sqf#L29-L38 if not please reopen

[2017-08-23 13:05] #825 closed, assigned to nobody

[2017-08-25 19:19] vbawol commented on #803
Looks like that last change actually made the bad conversion: bool spam worse server is now failing to start.

[code]

[2017-08-25 19:55] morgoth0 opened #831 "Dynamic Simulation may be a problem with Epoch vehicle spawns"
I have seen and players have additionally reported a problem with new vehicle *spawns* that I think is related to dynamic simulation. Sometimes, when you approach a vehicle that has been spawned at the previous restart it will for no reason, explode. I think that this is happening when the vehicle is placed on the map at that time but allowdamage is not false...?

This has happened many times now

[2017-08-25 19:57] Ignatz-HeMan commented on #831
Do they explode directly on spawn or when player comes near / login?

[2017-08-25 20:07] Ignatz-HeMan commented on #831
Ah okay... Just read "when you approach".
I have already tested a lot with "exploding Vehicles".
I will try to create a workaround. It will be never 100% safe, but much better, I think.

[2017-08-25 20:09] ravmustang commented on #803
I'm on it now

[2017-08-25 20:29] morgoth0 commented on #831
Yes, it is when ARMA puts them on the map as you get near.

Cheers,
Grahame.

[2017-08-26 13:38] vbawol commented on #803
I think this issue is solved for the most part mass check should not fail as often if at all, If we still get reports about this issue we can reopen.

[2017-08-26 13:38] #803 closed, assigned to nobody

[2017-08-26 15:11] Ignatz-HeMan commented on #831
Also Vehicles parked in Bases or only complete new spawned Vehicles?

[2017-08-26 15:58] morgoth0 commented on #831
On experimental server players have few bases due to the incredibly low loot and no traders so not sure on the vehicles parked in bases. So I can only comment on the newly spawned vehicles tbh

[2017-08-30 18:20] morgoth0 opened #837 "Pumpkin missing from CfgPricing.hpp"
Just a small one. The pumpkin is missing from CfgPricing.hpp which causes the looting of pumpkin patches to not actually generate one.

Cheers,
Grahame.

[2017-08-30 22:23] vbawol commented on #837
Got it sorted with this commit https://github.com/EpochModTeam/Epoch/commit/9028cec8df6eb94c126c54a1dd6cc14ed4e9665d, Pumpkin, Poppy and Goldenseal added to CfgPricing,

Thanks for the heads up!

[2017-08-30 22:23] #837 closed, assigned to nobody

[2017-09-03 14:21] Ignatz-HeMan commented on #831
The code has changed, that the damage is overall higher then before the update.
Now, the problem is, that "HitHull" is also mostly higher and a "HitHull" > ~0.9 cause the exploding Vehicles on simulation.
This should fix it:
https://github.com/EpochModTeam/Epoch/pull/845/files

[2017-09-03 15:04] vbawol commented on #831
This should be fixed per #845 by @Ignatz-HeMan

[2017-09-03 15:04] #831 closed, assigned to nobody

[2017-09-03 15:05] vbawol opened #846 "Models"
**Radiation:**
- [x] Geiger counter - GPS ITEM.
- [x] Radiation Treatment: Potassium Iodide pills - Magazine
- [ ] Protective clothing: Hazmat suit - Uniform
- [x] Protective clothing: Gas mask - Headgear
- [x] Radiation Treatment: Nanite injector - Magazine
- [x] Radiation Treatment: Nanite pills - Magazine
- [x] Radiation Treatment: Nanite cream/paste. - Magazine

**Farming:**
- [x] Farm Plot -

[2017-09-03 15:13] vbawol commented on #797
this is it for 1.0, we can always add more in future updates. see #846

[2017-09-03 15:13] #797 closed, assigned to nobody

[2017-09-04 11:59] vbawol commented on #715
Cannot reproduce this at this time, if it comes back, please reopen

[2017-09-04 11:59] #715 closed, assigned to nobody

[2017-09-04 12:00] vbawol commented on #702
Should be fixed thanks to this https://github.com/EpochModTeam/Epoch/commit/df8346af2c1fb4101e67ca1eb9f098e1bb335413 commit by @ravmustang

[2017-09-04 12:00] #702 closed, assigned to nobody

[2017-09-04 13:11] vbawol commented on #829
Added, just need a packed tent magazine item and to setup the crafting + kit
@Helion4 could you add a packed tent model as the magazine item for these? see #846

[2017-09-04 13:14] #829 closed, assigned to nobody

[2017-09-04 13:33] vbawol commented on #830
This could be added, the only issue is that I know nothing about how ACE3 medical system works. We are open to supporting it, just need to know exactly what data needs persisted.

[2017-09-04 14:47] morgoth0 commented on #830
I'll get the code to you asap since I realise that you are close to 1.0 release!

[2017-09-04 16:08] vbawol opened #850 "error with use of EPOCH_worldObjectType"
[code]
source is: https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_config/Configs/CfgActionMenu/CfgActionMenu_self.hpp#L118

[code]

[2017-09-04 17:12] Ignatz-HeMan commented on #850
Tested it and it comes from the mosquitos / HouseFlys / HoneyBee.
They disappear exactly on script run.

I made a test script in a loop to check, what cause the undefined variable:
----------------------------------------------------------------------------------
`[] spawn {
	test = true;
	test3 = [];

	while {test} do {
		{
			test2 = [_x, typeof _x, str _x, getpos _x, getmodelinfo _x];
			_objec

[2017-09-04 19:52] vbawol commented on #850
Sweet thanks! @Ignatz-HeMan

[2017-09-04 19:52] #850 closed, assigned to vbawol

[2017-09-04 21:02] vbawol opened #853 "Duping of Building Materials"
Report on forum by Drokz:
https://epochmod.com/forum/topic/43447-duping-of-building-materials/

[code]

[2017-09-04 21:04] Ignatz-HeMan commented on #853
Oh yes, we also have noticed this.
I have already a fix for it.
Will pull tomorrow...

[2017-09-04 21:07] vbawol commented on #853
Nice, Thanks @Ignatz-HeMan

[2017-09-04 21:23] Ignatz-HeMan commented on #853
https://github.com/EpochModTeam/Epoch/pull/854

[2017-09-07 18:33] #853 closed, assigned to nobody

[2017-09-16 13:32] morgoth0 opened #863 "Plot Pole size"
Is there any chance that the size of the Plot Pole could be reduced so that it would fit inside a 1x1x1 wall/floor cube? At the moment the Plot Pole is just over 1.5 cinder/wooden walls high. In order to fully enclose it you have to build two full walls on top of each other and cannot actually put a roof on the space from the ground (you have to build stairs since the PGUP move stops before it rea

[2017-09-16 14:03] morgoth0 opened #864 "Some config file updates"
Hi folks,
   Hopefully these will be useful. Below please find the CfgItemInteractions.hpp entries for some of the new food and drink (including canteens and bottled water and excepting the rice, cereal and powdered milk - not sure whether you have ideas for crafting anything new from them), a change to the CfgBaseBuilding entries for tents to return a kit on deconstruction and the CfgCrafting ent

[2017-09-16 14:16] morgoth0 commented on #864
Note, just edited to add a plastic bottle and canteen base class (derived from drink_base) to return the empty versions when the water is consumed

[2017-09-16 14:45] Ignatz-HeMan commented on #864
Very nice!

[2017-09-16 15:06] morgoth0 commented on #864
Trying to work out at the moment how to make a canteen a proper magazine with, say, four uses where you get less thirst recovered for each use...

[2017-09-16 15:09] morgoth0 commented on #864
Also, missed two entries for dirty water in the new containers (I mod the code to only use clean water from water sources, as in DayZ: SA...):

**CfgItemInteractions.hpp**

    class ItemBottlePlastic_Dirty: Drink_base
    {
        interactAttributes[] = {{"Thirst",500},{"Toxicity",5,1},{"Stamina",50}};
    interactReturnOnUse = "ItemBottlePlastic_Empty";
    };

    class ItemCanteen_Dirty : Dri

[2017-09-22 22:47] ravmustang commented on #864
Will be in my pull merge request this evening

[2017-09-22 23:05] morgoth0 commented on #864
Really appreciate it. Would have added a pull request but I sort of assume you folks are working on a lot of it anyway and I don't want to jump on things you are already doing...

[2017-09-22 23:29] ravmustang commented on #864
@morgoth0 no problem bud.
You did a good job on this so it was an easy add.

In the future don't hesitate to get involved.
Just do a fresh fork when you are ready.
Create a new branch from the experimental branch and name it.
Commit your changes to your branch.
Create the pull request to the epoch experimental branch and watch it for comments!

[2017-09-22 23:39] morgoth0 commented on #864
Will do so. Cheers again

[2017-09-23 00:41] ravmustang commented on #864
just noticed an error for the Drink_base inherit.
What do you have defined for drink_base if you dont mind :)

[2017-09-23 00:46] ravmustang commented on #864
Ah ok, looks like I need to spruce them up a bit as you have a mix of ItemInteractions and Crafting config entries wrapped up into one.

Alright no biggie, will straighten this one out the best I can

[2017-09-24 17:50] ravmustang commented on #864
@vbawol can be closed when available

[2017-09-24 20:01] vbawol commented on #864
Thanks, guys! @morgoth0 @ravmustang

[2017-09-24 20:01] #864 closed, assigned to nobody

[2017-09-25 22:34] vbawol opened #876 "missing stringtables"
- [x] String STR_EPOCH_ItemZombiePartsBag not found https://github.com/EpochModTeam/EpochCore/commit/3b153fb1ce971a50843dcdd1bc0e34af3e1d59a6

Arma 3 related or configs:
- [ ] String STR_A3_RscGroupRootMenu_Items_ActivateMine0 not found
- [ ] String STR_A3_Fighter_03_Canopy_name not found

[2017-09-25 22:50] #876 closed, assigned to nobody

[2017-09-27 19:58] vbawol opened #877 "Proper Malden Support"
- [x] Phone booths, ATM need to be added to ATM configs.
- [ ] Add loot positions for new buildings
- [x] rework spawn areas with proper props for the area or move to flatter ground.

[2017-09-27 21:11] vbawol opened #878 "Testing Report 9/27"
- [x] createvehicle BE kick for TentDome_SIM_EPOCH and TentA_SIM_EPOCH
- [x] createvehicle and attachto kick on metal and cinder tower ghost models. CinderTower_Ghost_EPOCH MetalTower_Ghost_EPOCH.  https://github.com/EpochModTeam/Epoch/commit/d12c6f83ce6c10d6c22ab4801bdfa89aa5a37797 https://github.com/EpochModTeam/Epoch/commit/1a20d9ada320bb23df4f4df66687c7ac2a904fc4
- [x] be kick for BarrelBomb_E

[2017-09-28 01:30] ravmustang commented on #878
Helion is aware of the conder and metal towers support being wood and was going to revisit it after jury duty.

 I will place the animation sources not found on owers ghost on my to do this weekend

[2017-09-28 15:54] vbawol commented on #878
For the animation sources not found, see the wood tower ghost preview as an example,
Base_Tower_Frame.p3d has a model.cfg with animations defined and Base_Tower_Frame_Ghost.p3d does not.

[2017-09-28 16:25] Helion4 commented on #878
ya, ghosts dont need any anim-sources in the cfg and therefore a model.cfg isnt needed either. As for the tower centres and their textures, I'll get them sorted this weekend along with crash. sat. changes.

[2017-09-29 13:50] morgoth0 commented on #877
Is anyone working on this? If not, I'll take a bash at it...

Cheers,
Grahame.

[2017-09-29 14:42] vbawol commented on #877
Go for it @morgoth0

[2017-09-29 14:51] morgoth0 commented on #877
On it. Won't take long. And it's Grahame from the forums ;)

[2017-09-30 11:38] Tarabass999 commented on #877
class Land_ATM_01_malden_F : bankTerminal {};
	class Land_ATM_02_malden_F : bankTerminal {};
	class phonebooth_01_malden_F_p3d : bankTerminal {};
	class phonebooth_02_malden_F_p3d : bankTerminal {};

	class land_phonebooth_01_malden_F_p3d : bankTerminal {};
	class land_phonebooth_02_malden_F_p3d : bankTerminal {};
	class Land_atm_01_malden_F_p3d : bankTerminal {};
	class Land_atm_02_malden_F_p3d :

[2017-09-30 11:43] morgoth0 commented on #877
This is all you need. Have it in the files I'm working on:

`    class Land_ATM_01_malden_F : bankTerminal {};
    class Land_ATM_02_malden_F : bankTerminal {};
    class Land_PhoneBooth_01_malden_F : bankTerminal {};
    class Land_PhoneBooth_02_malden_F : bankTerminal {};
`

[2017-09-30 11:48] Tarabass999 commented on #877
sorry code ?!?

[2017-09-30 12:07] morgoth0 commented on #877
I've got three new ones coming that include one where boats can be bought and sold:

![20170929140225_1](https://user-images.githubusercontent.com/16226987/31045647-6c93196a-a5b6-11e7-9c45-0700386e82ef.jpg)

[2017-09-30 12:25] Tarabass999 commented on #877
cool.. I'm looking forward to those :)

[2017-10-02 00:10] vbawol commented on #411
Since bipods can be duped, I suggest they have no value at traders. https://github.com/EpochModTeam/Epoch/commit/662ef386b1c5c36b082b489ccaf803f18e8ad4c7

If Bi adds a way to manipulate the attachments in cargo space, we can just reset pricing.

[2017-10-02 00:10] #411 closed

[2017-10-02 00:14] vbawol commented on #796
The basic functionality of this feature should be mostly complete,
- [ ] Add a way to activate the Geiger Hud.
- [ ] Geiger should have an option mute sound and just use radiation gauge via on-screen hud.

[2017-10-03 19:30] #798 closed, assigned to nobody

[2017-10-04 07:07] orangesherbet opened #886 "EXP Test Issues 10/3/17"
Version 1.0 Exp , 10/3/17 12am CST

- [x] All base building items give the error createvehicle #1 and kicks the player trying to place the item.
Items tested: frequency jammer , tents , lockbox , fireplace

- [x] ATM / Phone Booths not working for banking system

- [x] Cultist not affecting players' blood pressure

- [x] Cannot build some base parts due to build option not present when double clic

[2017-10-04 11:28] morgoth0 commented on #886
(1) Cannot replicate the createvehicle error on my dev server (running last night's build). Can you pastebin your createvehicle BattlEye filter.
(2) Malden ATMs and phones, plus some other additions to World Interactions config coming this morning.
(3) I'll add Cinder Floor, Garden Plot etc to the mission configs since I'm doing an update for the new building parts this morning. Will also look at

[2017-10-04 11:40] morgoth0 commented on #886
Just checking the configs for Malden. I assume that the rocks you are talking about are the new limestone ones? If so am adding them now. There are also two new bushes and five new trees that I'll add.

[2017-10-04 12:38] morgoth0 commented on #886
Regarding phones and ATMs, there is an issue with the ones that Bohemia has placed on the map. These are not recognised by the new WorldInteractions definitions, neither does infiSTAR recognise them as objects that can be deleted or detected. Editor placed ATMs and phones are fine. I will update the prop position array with those I have already deployed in towns and at gas stations.

[2017-10-04 13:02] vbawol commented on #886
@morgoth0 try cursorObject and getModelInfo to get the p3d names, then replace any spaces " " and periods "." with underscore "_" and add to the WorldInteractions.

[2017-10-04 13:51] morgoth0 commented on #886
@vbawol Yep, thanks. That did the trick. Models added in new pull request

[2017-10-04 20:25] vbawol opened #891 "Known Issue: player stats are not updating when godmode is enabled"

[2017-10-04 20:26] vbawol commented on #878
most of this is fixed, and started a new issue for the godmode https://github.com/EpochModTeam/Epoch/issues/891

[2017-10-04 20:26] #878 closed, assigned to nobody

[2017-10-04 20:32] vbawol opened #892 "Possible FavBar issue with apex key mapping (1,2,3 keys)"
from @orangesherbet:  Using the #3 slot on favorites is a little weird if you have a sledge equipped. I tried to put my hatchet in that favorite slot w/ sledge equipped and I couldn't equip it because it was trying to pull my sledge out instead. Other slots work for the hatchet.

Possible workaround from @morgoth0  is to disable the default ARMA Apex weapon key mapping, i.e. 1=primary, 2=secondary

[2017-10-04 20:33] #886 closed, assigned to nobody

[2017-10-04 20:33] vbawol commented on #886
tracking last issue here: https://github.com/EpochModTeam/Epoch/issues/892

[2017-10-05 00:17] orangesherbet commented on #892
will try this out later tonight, thanks guys

[2017-10-05 02:28] orangesherbet commented on #892
All seems well here- just conflicting key binds.  3 = Launcher (Sledge in this case) by default.  Disabling the default keybinds does solve the issue.

[2017-10-05 02:38] orangesherbet commented on #886
Lingering issues:  Cannot build Cinder Floor / Garden Plot still - Video:  https://youtu.be/bKQHGng6dHA

Error upon joining: attached screenshot

Error building Metal Tower: attached screenshot
![20171004202358_1](https://user-images.githubusercontent.com/4204940/31208679-e2343b28-a943-11e7-9091-b91123245d45.jpg)

![20171004203240_1](https://user-images.githubusercontent.com/4204940/31208682-e899b

[2017-10-05 02:49] vbawol commented on #886
Next build should sort most of these, it happens nightly at 12am cst.

[2017-10-05 19:59] Ignatz-HeMan commented on #892
https://github.com/EpochModTeam/Epoch/commit/8a4ab15fd178b02f000486600137b9f31b8541ae
This should fix it.
If FavBar slot is empty, default Arma Action will be executed
If FavBar slot has an item, default Arma Action will be overwritten

[2017-10-06 19:30] vbawol opened #902 "hitpoints may not be reporting correctly"
I am seeing players with hitpoints in the database all the same as the damage of the player so either we are using setDamage after setHit somewhere or https://community.bistudio.com/wiki/getAllHitPointsDamage may not report correctly when used on the server.

[2017-10-06 20:41] Ignatz-HeMan commented on #902
getallhitpointsdamage seems to work correctly
![20171006223743_1](https://user-images.githubusercontent.com/6589278/31297741-8251c450-aae7-11e7-86f8-4b7982a570c6.jpg)

[2017-10-06 20:44] Ignatz-HeMan commented on #902
I will test a bit tomorrow

[2017-10-06 20:49] Ignatz-HeMan commented on #902
Another reason could be...
If the Player have only "damage", not "Hitpointdamage" and you setdamage, all hitpoints have the same value!

[2017-10-06 20:52] vbawol commented on #902
Right anytime we do a setDamage (that is not 0 or 1) we need to also reset the hitpoints. Normally we only use setDamage to heal the player once all other hitpoints are at 100% but I am not sure what changes you guys have related to that.

[2017-10-06 20:54] Ignatz-HeMan commented on #902
setdamage 0 > all Hitpoints also goes to 0
But I will try a bit tomorrow with the current experimental build

[2017-10-07 00:46] morgoth0 commented on #877
Had to move a couple of them. Here's what I'm uploading for Malden: https://www.youtube.com/watch?v=U_vZ-vXjjgo

[2017-10-07 02:28] vbawol commented on #891
should be resolved with https://github.com/EpochModTeam/Epoch/commit/bdb168ba50b359de7490036055e4d7954f8617a8

[2017-10-07 03:13] ravmustang commented on #891
experiencing an issue with the EPOCH_GMODE var.
Tested working with this correction:
https://github.com/EpochModTeam/Epoch/commit/b62a029d66b1df5eb2e2e1d2d55137572a511431

[2017-10-07 03:50] vbawol commented on #891
Thanks @ravmustang !

[2017-10-07 03:50] #891 closed, assigned to nobody

[2017-10-07 04:00] vbawol opened #904 "get|setUnitLoadout issues"
We have an issue with get|setUnitLoadout, that is causing players inventory to sometimes be saved (getUnitLoadout) to the database with some overfilled containers (uniform, vest, backpack).

When this happens the player cannot log in and get a black screen.

@Ignatz-HeMan had a workaround https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_server/compile/epoch_player/EPOCH_server

[2017-10-07 16:39] Ignatz-HeMan commented on #902
Tested a bit and thi should fix it:
https://github.com/EpochModTeam/Epoch/commit/b1775a68ba290e5c44cadf3c3367c2eaa61d1d48

[2017-10-07 16:40] Ignatz-HeMan commented on #904
Please try again:
https://github.com/EpochModTeam/Epoch/commit/e4fdf4d6a03134c75dcfafd1f8af59db7c993a1d

[2017-10-07 16:51] morgoth0 commented on #904
I installed the fix on EpochZ: Bandit Country this morning. Will report if the black screen happens again

[2017-10-07 16:54] Ignatz-HeMan commented on #904
Please use the current file. I have also added a second fix!
https://github.com/EpochModTeam/Epoch/commit/4660975b05e77ba7c2e346262d9e54d478da206b

[2017-10-07 16:58] morgoth0 opened #905 "A plea for keeping a change ;)"
How did I even miss this commit on EpochCore: "test changing males base side to civillian". Shows how often I pull up the infiSTAR menu since players are colour-coded by side and I only noticed this morning.

My plea is to keep this change. **It works perfectly!!!**

Why? Because now all uniforms are unlocked for male characters; for some bizarre reason, all mod devs allow the side and CIV to wear

[2017-10-07 17:02] morgoth0 commented on #904
Will update at the next restart (1400EDT). Thanks again @Ignatz-HeMan

_UPDATE: New code is now running on the server._

[2017-10-07 17:05] morgoth0 commented on #905
And I just realised why I'd never noticed... when I updated EPOCH_loadplayer.sqf this morning I forgot to add my BLUFOR hack... Really happy for that mistake ;)

[2017-10-07 17:08] morgoth0 commented on #905
Ah, one thing though. Do we not need to add:

`RESISTANCE setFriend [CIV, 0];
EAST setFriend[WEST, 0];
`

and perhaps:

`RESISTANCE setFriend [EAST, 0];
`
to server_init.sqf because isn't RESISTANCE friendly to CIV by default and new OPFOR AI need to not be friends with women???

https://community.bistudio.com/wiki/Side_relations

[2017-10-07 17:36] Ignatz-HeMan commented on #905
No, we set the rating to -2000. That means every side is an enemy:
https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_code/compile/setup/masterLoop/init.sqf#L9
https://community.bistudio.com/wiki/addRating

[2017-10-07 17:38] morgoth0 commented on #905
Ah, okay. Missed that one too

[2017-10-07 17:42] morgoth0 commented on #905
That said, @xDrokz reported that RESISTANCE-sided Zs were not attacking him (not Epoch Zs, native Ryan's ones). Are you sure that -2000 is the level or is it -2001:

https://community.bistudio.com/wiki/addRating

[2017-10-07 17:43] morgoth0 commented on #905
"The enemy side (used for renegades). Unit of this side is enemy to everyone.
To become one, you can attack members of your own side or use addRating.
When below a rating of -2000 units switch automatically to this side."

https://community.bistudio.com/wiki/sideEnemy

[2017-10-07 17:44] vbawol commented on #905
Thanks for the feedback @morgoth0 ! I think we will keep this change, as it will allow for many more male uniforms and does not seem to have any real side effects other than requiring the negative rating to force all players to enemy side. This is needed because you cannot make the whole CIV side an enemy as AI will shoot walls and trees, etc.

Note: We also override changes via the HangleRating E

[2017-10-07 17:47] morgoth0 commented on #905
Understood. And from what I understand they would not be able to use CIV vehicles either ;) Will be testing the level of addrating though. Was talking to @xDrokz after noticing this and he'd mentioned the RESISTANCE Z issue. If I see the same thing I will check with an addrating of -2001... BIS are normally pretty strict on wording and it is interesting, given the anecdotal reporting, that they sa

[2017-10-07 18:20] Ignatz-HeMan commented on #905
Without addrating -2000 the Epoch AI's do not attack you. With this change, they do. So I think -2000 should be okay. But a test doesn't hurt

[2017-10-07 18:23] Ignatz-HeMan commented on #905
![image](https://user-images.githubusercontent.com/6589278/31310704-5089c1dc-ab9d-11e7-9ecc-33da9d2181b2.png)

[2017-10-07 18:29] morgoth0 commented on #905
@Ignatz-HeMan The code that you have there is not related to attacks (and I've seen videos of civilians being infected and rising up after death) but I will investigate that further.

**There is a config setting called "Civilian Attacks" in the Z settings for Ryan's and I can both confirm that I have it turned ON on my server and that the Zs are now ignoring me.**

At the next restart in 3.5 hours

[2017-10-07 18:31] Ignatz-HeMan commented on #905
Okay, was just a fast look into the code and saw that "civilian" check.

[2017-10-07 18:34] morgoth0 commented on #905
NP. I will also delve into the Ryan's code again since if the standard Epoch adversaries attack you then so should vanilla Ryan's Zs. Anyway, worth investigating since there are a few others whose servers use vanilla Zs not Epoch Zs... and finding a fix now means we can help them get their servers working properly on 1.0 release

[2017-10-07 18:39] morgoth0 commented on #905
Ah... it's related to a custom script some of us are running for generating and controlling zombies and hordes I think. **It** turns off civilian attacks by default!!! My bad! Will test at the next restart... damn!

[2017-10-07 18:42] morgoth0 commented on #905
_UPDATE: No that is not true. The value set is -1 which says inherit from Ryan's settings..._

[2017-10-07 18:56] morgoth0 commented on #905
I'm afraid that I can confirm that it is a problem (presumably with addrating). I just (took all my gear off) and TPed into the middle of a BlckEagl's mission. The OPFOR AI completely ignored me...

_UPDATE: Just shot two of them and they *still* ignore me..._

[2017-10-07 19:02] Ignatz-HeMan commented on #905
Then please check this:
https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_config/Configs/CfgEpochClient.hpp#L160

and this:
https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_code/System/player_login.fsm#L629

[2017-10-07 19:04] Ignatz-HeMan commented on #905
And this again:
https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_code/compile/setup/masterLoop/init.sqf#L9

and this:
https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_code/compile/setup/EPOCH_clientRevive.sqf#L78-L80

[2017-10-07 19:07] morgoth0 commented on #905
Yes. I have all of that code in my mission file...

[2017-10-07 19:08] Ignatz-HeMan commented on #905
what does "rating player" give you out?

[2017-10-07 19:09] morgoth0 commented on #905
The only local code customisations to Epoch code I have running now are turning on TIE, turning off accelerated hunger/thirst loss and removal of toxicity from water. Apart from config turning off adversaries and min/max settings that's pretty much it now as far as core code goes.

[2017-10-07 19:11] morgoth0 commented on #905
@Ignatz-HeMan -2000
![20171007151125_1](https://user-images.githubusercontent.com/16226987/31311034-da784354-ab71-11e7-9275-f825f920aa8c.jpg)

[2017-10-07 19:18] morgoth0 commented on #905
@Ignatz-HeMan I took more rating off me, TPed back and they nailed my arse...

[2017-10-07 19:18] Ignatz-HeMan commented on #905
You are right, it must be -2001 !!!
![20171007211720_1](https://user-images.githubusercontent.com/6589278/31311090-0bc9952e-aba5-11e7-8da9-39f9057a5b94.jpg)
![20171007211723_1](https://user-images.githubusercontent.com/6589278/31311091-0e7db8d6-aba5-11e7-81a7-be83f9ae1780.jpg)

[2017-10-07 19:22] ravmustang commented on #905
@morgoth0 @Ignatz-HeMan
Thanks guys for working this out, I had just noticed this behavior last night during tests

[2017-10-07 19:24] Ignatz-HeMan commented on #905
Please give some Feedback after testing
https://github.com/EpochModTeam/Epoch/commit/14c433581bea582830c37fb40f650e73577a91dc

[2017-10-07 19:26] morgoth0 commented on #905
Organizing a time for an unscheduled restart as I type. Don't want my players (who _did not_ report this issue, odd that?!?) getting too much free loot...

[2017-10-07 19:40] ravmustang commented on #905
I can confirm this change is working in regards to side EAST AND WEST being enemies to clients. This test was performed with DMS_DeXileD prerelease

[2017-10-07 20:08] morgoth0 commented on #905
Can confirm that with the new code the infected ate me and the OPFOR mission AI kicked my arse! :)

[2017-10-07 20:13] morgoth0 commented on #905
Note that I was a male CIV character. Have not tested Female BLUFOR characters but the setfriend code in server_init.sqf already handled that on my server and the new addrating will mean that the vanilla code does not need changing.

Also, @Ignatz-HeMan thanks for finding that code snippet in Ryan's. I need to go away and check that to ensure that those of us using native Ryan's Zombies and who do

[2017-10-07 20:19] morgoth0 commented on #905
Just one last thing now that the issue is resolved. I still think that this change should be noted in bold (with the uniform advantages) in the Changelog for those who do not use "ANYPLAYER" for their mission or other triggers. Recommendation is that given BIS were so nice to give us the ANYPLAYER trigger condition, it really should be used.

[2017-10-07 20:23] Ignatz-HeMan commented on #905
Okay, thx for the Feedback.
If we do not find any further problems, I think CIV will come into Epoch and @vbawol will note it in the Changelog.
So I think it is solved and can be closed.

[2017-10-07 20:23] #905 closed, assigned to nobody

[2017-10-07 23:18] baaljayjay opened #906 "1.0 exp feedback"
1:battleye kick me when i tried to built a garden plot (create vehicle restriction 1).
2: i tried to snap floor on wall but is it does not work properly.
![20171008011024_1](https://user-images.githubusercontent.com/16623990/31312543-5356756c-abc6-11e7-8485-472ab6f32ef4.jpg)
![20171008011034_1](https://user-images.githubusercontent.com/16623990/31312544-549128b4-abc6-11e7-8de2-bff82987f3e9.jpg)
3:

[2017-10-07 23:44] morgoth0 commented on #906
I tried the half-floor a little while ago today and it would not snap to a wooden floor too. Could not see anything obviously wrong in CfgBaseBuilding.hpp

[2017-10-08 00:23] ravmustang commented on #906
The half and quarter floors were arma 2 assets ported forward recently.
I can take a closer look as to what's wrong there but as they are different sizes from the full floor they were only setup when I tested them for snapping to themselves. Half floor to half floor and quarter floor to quarter floor.

The other things mentioned were not missed, will try to report back on those asap

[2017-10-08 01:35] morgoth0 commented on #906
@ravmustang One other data point from testing today is that even when I manually moved it into _exactly_, well as close as I could make it, in position against the wooden floor that was already placed, when I hit 1 to build it raised itself into position (not the issue after build is finished) it just chose to be in a different place as soon as I hit 1 and stayed in that position after build...

[2017-10-09 01:40] KRDucky opened #908 "Experimental Bornholm spawn issue"
I spawned in Bornholm on Experimental. I was in the debug chamber for selecting gender. I selected male and was now in the chamber where you select the teleport to use. Problem is, there is no teleport at all. There is no exit to the chamber. You are essentially stuck till you eventually die.

[2017-10-09 13:22] morgoth0 commented on #908
You were looking for the manhole covers on the floor yes? Cause the code in epoch_server_settings/configs/maps/bornholm.h is the same as for any other Epoch-supported map so should just place the TP manhole covers:

`			{ "Transport_C_EPOCH", { -0.415527, -7.05298, -10.3098 }, "", { 14121.2, 11331.5, 0.000305176 } },
			{ "Transport_W_EPOCH", { -14.4316, 0.112793, -10.3098 }, "", { 1322.18, 8733.9

[2017-10-09 18:11] KRDucky commented on #908
Do I then have to place spawn markers somewhere? And where do I place that code?

[2017-10-09 18:18] xDrokZ commented on #908
You dont need to place spawn markers to be able to teleport. Try "Land_InfoStand_V1_F " instead of the Transport_ Epoch stuff. Maybe they just spawn to deep and you wont see them in the chamber. Happened to me on redux

[2017-10-09 18:19] KRDucky commented on #908
Can you give me an example?

Also is is possible to edit the Spawn trader area? I want to place billboards or white boards with important information for new players.

The 3 manhole covers in code are Transport_C_epoch, Transport_W_epoch and Transport_E_epoch.
Are there different InfoStands for each direction?

[2017-10-09 18:30] xDrokZ commented on #908
Its just an example you can use alot of other objects for that... try to replace al manholes with it and see what happens

[2017-10-09 18:31] KRDucky commented on #908
But how will they be able to determine which direction they go?

[2017-10-09 18:36] morgoth0 commented on #908
Well, you could just use this instead... https://epochmod.com/forum/topic/34896-custom-spawn-dialog-with-gear-halo-selection-moving-map-credits-custom-spawns-and-more

[2017-10-09 18:37] morgoth0 commented on #908
PS: That script allows you also to put posters on each of the four walls easily...

[2017-10-09 18:38] KRDucky commented on #908
hmm. does it include instructions on how to replace the existing Experimental spawn
?

[2017-10-09 18:41] xDrokZ commented on #908
well i do like this https://imgur.com/a/qtgaL

[2017-10-09 18:43] KRDucky commented on #908
There is no image there

[2017-10-09 18:43] morgoth0 commented on #908
Read the docs... it automatically replaces the manhole covers with infoboards

[2017-10-09 18:44] xDrokZ commented on #908
got some net issues... will reupload after restarting the router

[2017-10-09 18:45] morgoth0 commented on #908
It's a replacement system that allows you to add four choices of location or 50... players choose their destination - that's how they know. **Really** worth just **reading** the first post on the thread, which sort of answers those questions...

[2017-10-09 18:47] KRDucky commented on #908
ill get around to it. At work ATM on a work domain so going to a game site is not advised. ^_^

[2017-10-09 22:34] #902 closed, assigned to nobody

[2017-10-09 22:38] #892 closed, assigned to nobody

[2017-10-10 02:19] KRDucky commented on #908
followed the instructions......didnt work.

[2017-10-10 02:45] morgoth0 commented on #908
Works on all four of my servers... Any errors in the RPT file?

[2017-10-10 12:09] KRDucky opened #910 "Bad Conversion Bool RPT"
I am getting this spammed error on all the maps I have tried so far : Altis and Bornholm.

23:32:44 "Epoch: Init Variables"
23:32:44 "Loading config..."
23:32:44 Bad conversion: bool
23:32:44 Bad conversion: bool
23:32:44 Bad conversion: bool
23:32:44 Bad conversion: bool
23:32:44 Bad conversion: bool
23:32:44 Bad conversion: bool
23:32:44 Bad conversion: bool
23:32:44 Bad conversion: bool
23:32:4

[2017-10-10 19:58] vbawol commented on #910
This should not happen with the latest builds.

The packed files on the GitHub are not updated automatically with the nightly builds, you will need to pack them your self or get them from here http://steamcommunity.com/sharedfiles/filedetails/?id=558243173
[code]
that is the .cmd/bat script I use to auto update my server each time it restarts.

[2017-10-10 19:58] #910 closed, assigned to nobody

[2017-10-10 20:02] vbawol commented on #908
Is this sorted after you rebuilt your server @KRDucky?

[2017-10-10 23:02] vbawol commented on #905
Looks like this is going to be reverted, after all. The rating -2001 causes too many issues.

[2017-10-10 23:51] morgoth0 commented on #905
Damn shame, but understood why. I will continue to use my "all players are BLUFOR fix". **Really appreciate the effort to get this working.** Will be talking to the CUP devs to alter their modelsides definitions. Someone should do the same if they have the contacts in the RHS community.
Damn you Bohemia!!!

[2017-10-11 02:15] KRDucky commented on #908
no. cant tell. I cant spawn into the server. I keep getting the Authentication Error after selecting Gender

[2017-10-11 02:18] KRDucky commented on #830
Would love to know what I have to do to get ACE3 in general working in Experimental. I modded ACE3 to remove the medical and advanced fatigue modules. Currently cant spawn into the server. keep seeing bis_fnc_exec type errors in RPT

[2017-10-11 12:36] xDrokZ opened #911 "Empty lootcontainers"
Found that some containers arent filled with loot when searching them. Tarps looked fine so far but chairs, lockers and more been empty

[2017-10-11 12:38] xDrokZ commented on #911
Trash also gives no lootdrop

[2017-10-11 13:00] xDrokZ opened #912 "Building Items flipping out of the ground"
Building Items flipping out of the ground (some areas worked but some dont)

[2017-10-11 14:59] morgoth0 commented on #908
Remove the initial gear setup - if there is an issue with how that is set up you will not be able to log in and you will get an authentication error...

[2017-10-11 16:43] Pmba79 commented on #912
Like when you are placing building parts partly inside the ground ?

[2017-10-11 17:03] xDrokZ commented on #912
Yes. This worked until todays/yesterdays update

[2017-10-11 18:13] morgoth0 commented on #911
Re: Trash loot, I can confirm that while it says I have found something I cannot find it. Note that when trash is looted I now see this:

![20171011140023_1](https://user-images.githubusercontent.com/16226987/31458430-1511c0ac-ae8e-11e7-9613-4706511733ee.jpg)

Am running latest commits up to this morning's garden fix ("fix usage"). Will update the Taviana server to use the debug code I just notice

[2017-10-11 19:57] xDrokZ commented on #912
Was told just now that they also fly off of snapped building items

[2017-10-11 20:12] Pmba79 commented on #912
Thanks for the info, I'll go try to replicate it asap..

[2017-10-11 20:21] vbawol commented on #911
@morgoth0 It looks like that's just the way those are configured to be destroyed for that map. I looted trash today on Malden and everything works normally minus this missing loot issue.

[2017-10-11 20:40] vbawol commented on #911
Latest build 1007 fixes the empty loot containers from my tests.

[2017-10-11 20:40] #911 closed, assigned to nobody

[2017-10-12 10:14] xDrokZ commented on #912
I reverted these changes https://github.com/EpochModTeam/Epoch/compare/976baf9660b4...28340c23113f
and it works again

[2017-10-12 12:04] vbawol commented on #912
Should be fixed with https://github.com/EpochModTeam/Epoch/commit/63fc23b8cb2ed5b0a40037d0e79545f32f6c5dfe

[2017-10-12 12:05] vbawol commented on #908
This should be fixed as of https://github.com/EpochModTeam/Epoch/commit/7bed205d02cef6a1004ca9f1a6f35839d0683502

[2017-10-12 12:05] #908 closed, assigned to nobody

[2017-10-12 19:18] vbawol opened #914 "fix the harvesting of ore nodes"
Now you have to damage it 50% then you get a search option, and you get nothing if you damage it totally without using the search option. I am going to make it so it works similar to scrap harvesting using the sledge and only requiring a few hits.

[2017-10-15 01:34] morgoth0 opened #915 "Number of player slots..."
So, as we all know, there are actually 201 player slots defined in mission.sqm (Item3 - Item203) which gives an irrelevant (but annoying) warning in the RPT file. Want me to fix them in the MPMissions source?

[2017-10-16 12:37] vbawol commented on #915
Yes please, even though I used a script to make these I must have missed something.

[2017-10-16 16:02] vbawol commented on #914
is resolved with https://github.com/EpochModTeam/Epoch/commit/853586def5fa95014465f2425f239084d4d5e33a

[2017-10-16 16:02] #914 closed, assigned to vbawol

[2017-10-16 16:07] #912 closed, assigned to nobody

[2017-10-16 16:08] vbawol commented on #904
Seems like @Ignatz-HeMan 's last round of workarounds may have gotten this resolved.

[2017-10-16 16:08] #904 closed, assigned to nobody

[2017-10-16 22:36] morgoth0 commented on #915
I have made a pull request removing the extra player slots from all mission.sqm files. As an aside, the script you used would not result in the RPT file error

`15:01:02 Mission epoch.ChernarusRedux: Number of roles (201) is different from 'description.ext::Header::maxPlayer' (200)
`
on a server which had not added anything to the mission file.

The reason for that is, in the cases where the last

[2017-10-17 10:03] vbawol commented on #877
Hey, @morgoth0 did you finish with the new trader cities for Malden yet?

[2017-10-17 10:16] vbawol commented on #915
Thanks @morgoth0 !

[2017-10-17 10:16] #915 closed, assigned to nobody

[2017-10-17 11:03] vbawol commented on #877
Oh nevermind, I just popped on the dev server and see that you did get them added, Thanks!

[2017-10-17 11:03] #877 closed, assigned to nobody

[2017-10-17 11:24] vbawol opened #918 "Final TODO for 1.0"
***Models***
- [x] Half Wood floor seem to be missing geo lod, maybe needs mass or find components. (can walk though the sides of them)
- [x] Minor shadow glitch on Half wood floor. See Pic ![20171017054508_1](https://user-images.githubusercontent.com/3138624/31662310-72c12110-b303-11e7-9cda-ad157de5a5e2.jpg)

***Base Building***
- [x] Snapping issues are still seen while at an angle with half and

[2017-10-17 11:26] vbawol commented on #906
Thanks for the feedback, Kicks should be sorted as of now. Also, snapping issues and smelting tools issues are now known and tracked in another issue: https://github.com/EpochModTeam/Epoch/issues/918

[2017-10-17 11:26] #906 closed, assigned to nobody

[2017-10-17 11:28] #583 closed, assigned to vbawol, raymix

[2017-10-17 11:29] vbawol opened #919 "Radiation improvments"
- [x] Add a way to activate the Geiger Hud.
- [x] Geiger HUD should have an option mute sound and just use radiation gauge via on-screen hud.
- [x] Fade animations
- [x] Sounds update
- [x] Integrate into existing events system
- [x] Update existing radiation system to support array [intensity 0-100, distance].
- [ ] Server side random radiation event that sets random spawned loot or vehicles irra

[2017-10-17 11:30] vbawol commented on #796
tracking last few things here: https://github.com/EpochModTeam/Epoch/issues/919

[2017-10-17 11:30] #796 closed, assigned to vbawol, raymix

[2017-10-17 11:32] vbawol commented on #846
Protective clothing: Hazmat suit - Uniform tracking last item here for 1.1: https://github.com/EpochModTeam/Epoch/issues/919

[2017-10-17 11:32] #846 closed, assigned to nobody

[2017-10-17 18:01] raymix commented on #919
Sorry, been crazy busy at work. I'll see if I can release HUD as soon as possible, just need to add functionality to it at this stage

[2017-10-17 19:05] raymix commented on #892
You can also remap all favbar keys in Epoch ESC menu, doesn't have to be 12345. Mapped tiles will also change their names to your keyboard key

[2017-10-18 01:30] kubosov opened #920 "Cant server restart"
**# Epoch server does not restart.**
**Branch**: experimental
**OS**: Windows 10 pro

**Reproducibility**: every time.

**Reproduction procedure**:
in epochconfig.hpp
`serverRestart         = "true"; `
`forceRestartTime      = 1200;`  // testing param. every 20 minutes restart.

**Result**:
server is running 12h over.
no messages and logging.

**Another reproduction procedure**:
RCON command (from

[2017-10-18 04:36] kubosov opened #921 "Misaligned Chernarus MAP."
# **The map coordinates of Chernuthus are deviated in the WEST half**
EPOCH:1.0 Experimental b826
CUP Terrains map: 1.4

**Symptom**

1. The map has a refueling icon, but the vehicle can not be refueled at the gas station.
 Exp.Zelenogorsk, Vybol, WEST Chernarus

1. Kozlovka fixed trader is not exist.

_Should I use AIATP?_

[2017-10-18 05:00] kubosov opened #922 "User Chat messages are not displayed on the console"
# **User Chat messages are not displayed on the console**
**EPOCH:**1.0 Experimental b826
**OS:** Windows 10 Pro

**Symptom**
User chat messages  are not displayed on the console, and RCON.
I confirmed that the next channel.  "side/group/direct"

Messages via RCON are displayed on the console, and RCON  (as expected)
RCON is running at localhost.  and software firewall is disabled.

[2017-10-18 06:29] xDrokZ commented on #921
AIATP doesnt work. Gas stations are disabled now by default in epoch configs.
Not sure why the trader doesnt show up but they do for me

[2017-10-18 08:36] kubosov commented on #921
East gas station, exp. Elektro, Berezino is working, It's strange.

South west static NPC position is not changed since V0.5 .
It is judged that it is not arranged because the NPC mark is not drawn on the map.
Separately, initialize the DB and try to see if the NPC is initially placed.

[2017-10-18 08:37] orangesherbet opened #923 "Epoch EXP 1.0 Issues on Bullet Buffet"
All testing done on latest EXP 1.0 build as of 10/18/17 at 12:15 am CST
Testing on Bullet Buffet Server - All issues have been confirmed by myself or others

- [x] New medical items that have no effect- nanite injector, nanite cream, nanite pills, iodide pills

- [x] Metal Tower Ghost Preview needs a look (see attached screenshot)
 ![20171015230413_1](https://user-images.githubusercontent.com/4204

[2017-10-18 11:08] xDrokZ commented on #921
in epochconfig.hpp check line 52 and set

disableAutoRefuel = "true";

to false

[2017-10-18 11:41] vbawol commented on #920
You need to make sure you have the Battleye rcon information set in your EpochServer.ini

https://github.com/EpochModTeam/Epoch/blob/release/Server_Install_Pack/%40epochhive/EpochServer.ini#L6-L8

Note: IP needs to be accessable if rcon is only running on external IP, then use that.

[2017-10-18 11:41] #920 closed, assigned to nobody

[2017-10-18 13:40] kubosov commented on #920
my EpochServer.ini and server.cfg

EpochServer.ini
BattlEyePath = C:\Arma3Server\SC\BattlEye
InstanceID = NA123
LogAbuse = 1
LogLimit = 999
IP = 192.168.0.XXX     // LAN IP address.
Port = 2306
Password = RconPASS
 :
-------
server.cfg
 :
passwordAdmin = "RconPASS";
 :
--------

RCON( from EPM)
IP 192.168.0.XXX:2306 logged in is SUCCESS,  list up Admins.
 shutdown : SUCCESS
 **restart : NOP**

AND

[2017-10-18 13:47] xDrokZ commented on #920
You should read the comment. It says
// true sends #shutdown command to server after the time specified in ForceRestartTime

It will not restart your server it will shut it down in the given time. To start your server up again you need another program/tool/batchfile.

I use this one for redis, server and bec

http://www.softpedia.com/get/System/File-Management/Restart-on-Crash.shtml

[2017-10-18 13:48] xDrokZ commented on #920
You should check the forum or ask in discord before you create new issues here since these arent issues on the developers end

[2017-10-18 13:51] morgoth0 commented on #920
What xDrokZ said, and if you do not mind spending $50 then FireDaemon is well worth the investment, especially if you will be running multiple Epoch and REDIS servers (together with BEC for the shutdown and warning messages for each)

[2017-10-18 13:53] morgoth0 commented on #923
The crafting of cinder and metal floors, together with some other items is turned off by default in CfgEpochClient:

`	SuppressedCraftingItems[] = {	// These Items can not be crafted (but can be used in recipe)
			"VehicleRepairLg",		// Supressed for Advanced Vehicle Repair (no longer needed)
			"KitMetalFloor",		// Item is Upgradeable, but you can remove it here to make it also Craftable
			"KitM

[2017-10-18 14:06] kubosov commented on #920
about "serverRestart"
I misunderstood that it is a specification bug where comments and functions are inconsistent.

The mystery was solved. Thank you.

[2017-10-18 14:10] orangesherbet commented on #923
oh right on- since I don't run my own server that's something I did not know!

[2017-10-18 15:01] morgoth0 opened #924 "CfgPricing.hpp inconsistencies"
(1) The fish pricing allows for people to easy exploit the fact that there is a fire in most spawn camps, buy lots of raw fish for little money and multiply their cash by 1000% in very little time. Suggest the following pricing for fish:

    class ItemTrout
    {
        price = 2;
    };
    class ItemTroutCooked
    {
        price = 20;
    };
    class ItemSeaBass
    {
        price = 5;

[2017-10-18 15:03] Ignatz-HeMan commented on #923
@morgoth0 , thanks for the hint for the supressedCraftingItems.
But I want to say one more think about that:
If you are using Advanced Vehicle Repair, it is no problem to also allow it in Crafting, but it will have no function on double click in Inventory.
We have only disabled it for crafting, because it is no longer used in Epoch (with Advanced repair enabled).
If you need it for other custom th

[2017-10-18 15:07] morgoth0 commented on #923
@Ignatz-HeMan Ah... that's a fair point. I may actually enable crafting it again and require one for, for example, replacing an engine block... Thanks for the inspiration :)

[2017-10-18 15:15] xDrokZ commented on #924
Yea always changed plywood for example myself too coz it was too easy money

[2017-10-18 18:36] KRDucky opened #926 "Request for Saint Kapaulio port"
Would someone be nice enough to port Epoch to Saint Kapaulio?

I have received permission from the author to use it for Epoch as long as the server is NOT monetized.

![Image of use permission](https://i.imgur.com/UhbZdlU.png)

[2017-10-18 18:55] ravmustang commented on #923
Metal Floor being built handled with these two commits

https://github.com/EpochModTeam/Epoch/commit/5f6380cebfe05b82a34512e5b8e82fc28cfe434e
https://github.com/EpochModTeam/Epoch/commit/8a4954455c8893e322e60686ef55ebe74bbd9021

Crafting issue was solved by @morgoth0 's information.

Confirmed kick on building Barbed Wire.
Will pick back up after a dinner meeting for work this evening.
Thanks @ora

[2017-10-18 19:10] morgoth0 opened #927 "Today's map marker update sort of removes AI mission markers"
The changes to the marker system today are fantastic (the one change would be to shrink them a little more when scrolled in) but they have a negative impact on map markers from third party mission systems (specifically noted with BlckEagle's, SEM and Wicked AI).

The new code is removing the circular map markers from the map as shown in the images below. This first shows a SEM mission. The arrow s

[2017-10-19 15:17] ravmustang commented on #927
no emoji shows my feelings right now.
So words will do it.
Ive got it laid out and will be home for lunch to work and test.

[2017-10-19 15:32] morgoth0 commented on #927
@ravmustang Just pull requested a complete fix... I'd been working on it this morning...

Tested on one of my EpochZ 1.0 servers. All working now.

[2017-10-19 15:34] #924 closed, assigned to nobody

[2017-10-19 15:47] morgoth0 commented on #927
@ravmustang And nice catch on that. I had missed the definition required for the incrementing local markers. Thanks!

[2017-10-19 15:50] vbawol commented on #927
@morgoth0 @ravmustang is #929 ready to merge?

[2017-10-19 15:51] morgoth0 commented on #927
With @ravmustang 's change I think so, but it's his final call. I have tested on one of my servers though and all seems okay now

[2017-10-19 15:52] ravmustang commented on #927
Roger that, looks good on that merge THX!

[2017-10-19 15:53] ravmustang commented on #927
I will add a config option for hosts to turn the onZoomMapScaling off after merge.

[2017-10-19 16:03] #927 closed, assigned to nobody

[2017-10-19 19:01] KRDucky opened #930 "Building guides (Request)"
It would be nice to have a virtual visible guide when lining up base parts. Especially when on a hill or something where when you use Snap building, often the base part snaps into a hill where you cant see it. Especially in the case of Foundations. Some form of visual guide to show you if it is lined up or not because sometimes it wont snap to anything near you. Even more useful for FreeBuidling.

[2017-10-19 21:21] KRDucky opened #931 "Malden Teleporter at spawn is glitched"
The Northern manhole cover spawns you underneath the spawn area. It is glitched.

[2017-10-19 22:16] vbawol commented on #931
Thanks for the report, with https://github.com/EpochModTeam/Epoch/commit/f39a79a7d2853eb1a70749ada42a7b45ee9840b6 it should be sorted.

[2017-10-19 22:16] #931 closed, assigned to nobody

[2017-10-20 00:16] morgoth0 commented on #931
Sorry about that @vbawol Thought I had tested them all... obviously not

[2017-10-20 00:29] vbawol commented on #931
No problem @morgoth0 it should have worked but you know Arma 💯

[2017-10-20 06:53] natoed opened #932 "server_securityfunctions.sqf"
It all still works as far as I can tell thou it throws the below errors in the server rpt log.
I'm pretty sure that I'm the only one using the default AH btw.....

`16:26:40 "Loading config..."
16:26:40 Error in expression <Token = _skn_t1+_skn_t2+_skn_t3+_skn_t4+_skn_t5;
EPOCH_server_Authed = compileFi>
16:26:40   Error position: <_skn_t5;
EPOCH_server_Authed = compileFi>
16:26:40   Error Undefin

[2017-10-20 10:20] Pmba79 commented on #923
The cinder tower prewiev also needs some looking into--
The opacity is turned up to high, it almost impossible to see..

The barbedwire fence prewiev is solid and will kill players before the fence is set.
The fence will also despawn after restart.

Cinder floors can be walked on before the prewiev runs out and the item is set in the world.

[2017-10-20 11:42] vbawol commented on #922
Not sure this is an Epoch issue, seems like more of an Arma thing

[2017-10-20 11:43] vbawol commented on #919
Thanks, @raymix ! We now are shooting for the 26th for release.

[2017-10-20 11:50] vbawol commented on #932
Thanks for the report @natoed
Fixed with this commit: https://github.com/EpochModTeam/Epoch/commit/0bb4c7f985f9a9592c50998985be55db6ce9317a

[2017-10-20 11:50] #932 closed, assigned to nobody

[2017-10-20 11:51] #918 closed, assigned to nobody

[2017-10-20 12:12] ravmustang commented on #923
Barbed wire ghost model added here
 https://github.com/EpochModTeam/EpochCore/commit/fcd320adaacb11c1f667deaa3ec37e54f9bf31a1

Sim model added here
https://github.com/EpochModTeam/EpochCore/commit/557c8b55bdc63daeff27255ccfd65f43cc731ad5

Mission config updates here
https://github.com/EpochModTeam/Epoch/commit/9a3869bf30ebce066d29014070d41ac4afee7f46

Now that core is updated barbed wire should be

[2017-10-20 12:28] vbawol opened #933 "TODO part 2"
***Code***
- [x] Radiation mask should reduce exposure to radiation and toxicity from the environment.
- [x] Satellite should be lootable. (Use sledge hammer to harvest)

***Configs***
- [x] Older female outfits lost their proper names display names.
- [x] New Female outfits have the same display name.

***Models***
- [x] cinder floor shadow seems to be smaller, showing light though when used as a

[2017-10-20 13:06] ravmustang commented on #923
Cinder Floor ghost model was tested and issue corrected with Helions updated model.

Barbed Wire after another commit is working as well
https://github.com/EpochModTeam/Epoch/commit/2148634c5824d238f17d0c14436c4905d02a595d

[2017-10-20 13:08] vbawol commented on #923
Thanks, @orangesherbet for the report and everyone for the fixes!

[2017-10-20 13:08] #923 closed, assigned to nobody

[2017-10-20 16:36] KRDucky opened #934 "Suggestion: Support Braces for building balconies etc."
It would be nice to have brace supports that can be built for placing balconies. Something like a diagonal  support brace or something.

[2017-10-20 16:38] KRDucky opened #935 "Suggestion: Long foundations or variable height foundations or stackable foundations"
Some form of variable height foundation or the ability to stack foundations (snap) to make tall supports. Alternatively a new buildable object that is simply a support that can be placed. A singular pole that is used as a support. Similar to how the Staircase works. That center pole only stackable to allow for tall buildings and such.

[2017-10-20 16:50] vbawol commented on #933
@Helion4 when you get time could you please look at the sewer, supply boxes, and generator bunkers? The sewer walls and other props are still too bright compared to the bunker walls.

[2017-10-20 22:56] ravmustang commented on #919
Great job so far @raymix !!!

[2017-10-21 03:16] KRDucky opened #936 "PublicVariable Restriction #0"
The latest Experimental build causes Public Variable #0 kicks. No other mods running on server. Just Epoch Experimental.

[2017-10-21 03:18] KRDucky commented on #936
From the RPT:
22:17:22 "Epoch: Loading NPC traders"
22:17:23 No speaker given for Idi Iwu
22:17:24 No speaker given for Lucas Scott
22:17:25 Error in expression <tVariable["MARKER_REF",""];
if (_marker != "") then {
deleteMarker _marker;
_pos>
22:17:25   Error position: <!= "") then {
deleteMarker _marker;
_pos>
22:17:25   Error !=: Type Array, expected Number,String,Not a Number,Object,Side,Group

[2017-10-21 03:20] KRDucky commented on #936
22:20:17 "Epoch: Server Start Complete: 398.456 seconds"

[2017-10-21 03:27] KRDucky commented on #936
20.10.2017 21:56:31: KRDucky - #0 "PLAYER_BADHIVE" = true
20.10.2017 21:57:09: KRDucky  - #0 "PLAYER_BADHIVE" = true
20.10.2017 21:59:08: [MXI]Ghost - #0 "PLAYER_BADHIVE" = true
20.10.2017 22:07:47: KRDucky  - #0 "PLAYER_REJECT_NotReady1" = true
20.10.2017 22:17:17: KRDucky  - #0 "PLAYER_REJECT_NotReady1" = true
after the server completed startup, we could spawn in
but fuck, it took 398 seconds to

[2017-10-21 03:47] vbawol commented on #936
This error looks to be from the trader fsm https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_server/system/Trader_brain.fsm#L416-L465 and is related to changes in the usage of MARKER_REF

[2017-10-21 04:48] ravmustang commented on #936
Should be handled with https://github.com/EpochModTeam/Epoch/commit/555e350b5d40dfc1f6946927e7c22196c3c51f64

[2017-10-21 11:01] #936 closed, assigned to ravmustang

[2017-10-21 14:08] morgoth0 opened #937 "Minor issue in cfgItemInteractions.hpp"
Getting this error in the RPT after latest updates:

`10:00:45 Warning Message: File mpmissions\__cur_mp.Taviana\epoch_config\Configs\CfgItemInteractions.hpp, line 980: .CfgItemInteractions: Member already defined.
`

Which is this entry:

`	class adrenaline_epoch : Drink_base
    {
        interactText = "USE"; // todo digest system to give attributes over time
		interactAttributes[] = {{"Thirst"

[2017-10-21 14:17] morgoth0 commented on #937
Yeah... it's not the definition as Drink_base. Changed to Default and still get that warning. Same line

[2017-10-21 14:57] morgoth0 opened #938 "Serialization warnings in RPT"
Wondering whether these warnings in the server RPT

`10:48:29 Performance warning: SimpleSerialization::Write 'epoch_radioactivelocations' is using type of ',LOCATION' which is not optimized by simple serialization, falling back to generic serialization, use generic type or ask for optimizations for these types
`

are Epoch's issue related to the

`	radioactiveLocations[] = {"NameCityCapital", "Na

[2017-10-21 15:03] ravmustang commented on #937
Ive looked through the itemInteractions file and recent commits and have found nothing that would throw it off as such.

The error" .CfgItemInteractions: Member already defined."

To me this means that CfgItemInteractions is being defined a second time.
Could ya repack you mission file from vanilla and try it out again ?
Not able to test for ya as Im prepping for a flight back home this afternoon

[2017-10-21 15:05] ravmustang commented on #938
This error was brought up in dev chat a few days ago.
Yes this has to do with the new radiation system being done up as we chat here.
We should have this one sorted out soon

and No it does not have to do with Taviana or any map at this time 😉

[2017-10-21 15:10] morgoth0 commented on #937
Yeah, I waded through and am at a loss to find a dupe so far. Assuming the line numbers ignore the comments at the beginning then it would indicate the error is thrown on the closing of the class cfgItemInteractions {} pair...

Will try a vanilla MPMission file to verify

[2017-10-21 15:12] morgoth0 commented on #937
Oops... my bad... Bizarrely actually copied the CfgItemInteractions.hpp code into CfgItemSort.hpp. Sorry for wasting your time...
grepwin is your friend ;)

[2017-10-21 15:13] ravmustang commented on #937
Dont worry we all make little goofs here and there
Thank Grahame for the extra test to verify, gonna close this one up 😉

[2017-10-21 15:13] #937 closed, assigned to nobody

[2017-10-21 15:14] morgoth0 commented on #937
Thing is that I customize quite a bit in epoch_code and epoch_config so it actually is easier to copy the files across individually and edit from the file changes where necessary. First time I have done this though... misclicked the mouse on the wrong file at 0600...

[2017-10-21 15:19] ravmustang commented on #935
Just yesterday AWOL converted snapping positions from the models memory points to the mission configs here:

https://github.com/EpochModTeam/Epoch/commit/7c3ea0e9362a23d7771eea61ff67b9509ea94407

He-Man took that as a chance to quickly get the half and quarter floors new snapping points here:

https://github.com/EpochModTeam/Epoch/commit/2d1835d4553f4500f5cefe58326e11ed7a4a94d3#diff-efb28054cda2fc

[2017-10-21 15:36] vbawol commented on #938
These are from the radiation system, @raymix is reworking it so this may get solved. Also, it is just a warning, not an error.

[2017-10-22 13:52] natoed opened #942 "geiger_radiation.paa not found"
Error on screen ingame and also in rpt log
Warning Message: Picture x\addons\a3_epoch_assets_1\pictures\geiger\geiger_radiation.paa not found

Had a look in a3_epoch_assets_1\pictures\geige\
no .paa file named geiger_radiation

[2017-10-22 14:12] morgoth0 commented on #942
Yeah... that paa appears to be in x\addons\a3_epoch_code/Data/UI/buttons/ not a3_epoch_assets_1 assuming it is in fact the same image.

If so, the lines in CfgActionMenu_self.hpp need to be changed to the correct path...

`class geiger_menu
 {
 	condition = "'ItemGeigerCounter_EPOCH' in dyna_assigneditems";
     icon = "x\addons\a3_epoch_code\Data\UI\buttons\geiger_radiation.paa";
 	tooltip = "Gei

[2017-10-22 14:17] morgoth0 commented on #942
Pull request submitted in the meantime

[2017-10-22 21:40] morgoth0 opened #944 "Blacklist of locations for radioactive locations"
Loving the new radiation stuff but I had to turn it off for the moment. Have an A2/Epoch-style safe zone in Stary Sabor and a radioactive location was put right next door. In addition it seems from the code that the radiation zone could be dumped on someone's base if they happen to have it in a capital, city or airport.

Probably need a check of nearby jammers or protection zone invisibles, plus a

[2017-10-22 21:59] raymix commented on #944
Totally agree, this whole thing was rushed without taking any balance in consideration, the concept on its own took some planning and research, just wanted to get it out asap.
Initial idea actually was to allow reducing radiation over time in trader zones or maybe ask traders via chat menu to help the player out by reducing radiation level a small bit.
Currently nanite items reduce radiation insta

[2017-10-22 22:09] morgoth0 commented on #944
I do love the concept and the work so far is great! I especially like the new geiger counter HUD interface. I will work on the "exclusion zones" for radiationlocations[] tomorrow afternoon (just remembered I have a work meeting at 1000EDT tomorrow morning).
For pills and injection, maybe something like the Ryan's injectors and pills where the injector removes all radiation effects permanently but

[2017-10-22 22:10] morgoth0 commented on #944
At least until the player stats interface has a timed effect functionality like has been talked about for digestion... maybe 1.1?

[2017-10-22 22:16] raymix commented on #944
I am not sure about player stats bar thing, but seeing how popular it is I might implement our own some day using dynaHUD.
btw fun fact - geiger counter was designed after this guy here: https://www.youtube.com/watch?v=uGILagd_Bh4

[2017-10-22 22:20] morgoth0 commented on #944
Watched the video... yes, so I see. Good job anyway. Love the Epoch Corp markings!

Re: Status Bar, that's @Ignatz-HeMan 's which was modified by @xDrokz to leave the FavBar space clear and have new icons. Most important thing for me on a status bar is the ability to turn it off which @Ignatz-HeMan 's has. Still looking for an A3/Epoch one that would just dupe the simplicity, look and placing of t

[2017-10-23 00:13] ravmustang commented on #944
Blacklisted Objects array and distance config entries 😉
https://github.com/EpochModTeam/Epoch/commit/431e10ee582df19e2b9a9969b4dee284a3bda090

[2017-10-23 12:40] morgoth0 commented on #944
Tested on my servers this morning. Seems to be working well. Thanks @ravmustang and @raymix

[2017-10-23 12:43] ravmustang commented on #933
The new female outfits were modified to correct displayName issue or lack thereof.
Older female uniforms were OK during my tests in inventory and admin panel.

https://github.com/EpochModTeam/EpochCore/commit/d8338913c64e2361ce565556f450aba86795f445

[2017-10-23 12:53] ravmustang commented on #944
It was a team effort between everyone IMHO, I believe AWOL, Raymix, Helion and I all had our hands in the cookie jar for this one but the credits still go out to the everyone for their hard work, testing and patience getting us to 1.0 release!
To you too Grahame for your testing, suggestions and contributions to Epoch past, present and future!

Have a great week ahead bud 😜

[2017-10-23 13:00] #942 closed, assigned to nobody

[2017-10-23 13:00] vbawol commented on #942
Thanks guys!

[2017-10-23 13:01] vbawol commented on #938
@ravmustang solved this 🥇

[2017-10-23 13:01] #938 closed, assigned to nobody

[2017-10-23 13:03] vbawol commented on #944
Thanks for all your contributions!

[2017-10-23 13:03] #944 closed, assigned to nobody

[2017-10-23 13:04] #922 closed, assigned to nobody

[2017-10-23 13:05] vbawol commented on #921
Thanks for the report but you maybe better off contacting CUP devs about this issue, as we have no control over this map.

[2017-10-23 13:05] #921 closed, assigned to nobody

[2017-10-23 13:08] vbawol commented on #933
Sweet, now just down to testing 🔢

[2017-10-23 13:08] #933 closed, assigned to nobody

[2017-10-24 09:55] orangesherbet opened #945 "Epoch 1.0 testing issues on Bullet Buffet (10/24/17)"
**Here are some issues I encountered playing tonight: Bullet Buffet on Malden, using latest build as of 12:15 AM CST 10/24/17**

- [ ] CreateVehicle #0 Kick from selecting a weapon from your favorites bar

- [x] Geiger counter goes in the GPS slot, as intended?

- [x] Geiger counter appears to give warning beeps even when you run out of energy even though the HUD of the counter does not update

-

[2017-10-24 14:04] ravmustang commented on #945
Yes the Geiger Counter was chosen to fill the GPS slot as both display in the same area and we have some other plans for the watch slot.

Pipes large and small added to World Interactions here:
https://github.com/EpochModTeam/Epoch/compare/f8a7a569ced6...28042eb84a52

Malden blue garbage cans added here:
https://github.com/EpochModTeam/Epoch/compare/029fa396be35...70df6a8038bd

[2017-10-24 14:23] ravmustang commented on #945
Underwater shipwrecks on Malden added here:
https://github.com/EpochModTeam/Epoch/compare/04e922d544d5...24d059f0c9b5

[2017-10-24 14:26] vbawol commented on #945
Fyi, The shipwrecks are controlled by the containerPos array in the map specific server settings.
https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_server_settings/configs/maps/Malden.h#L28 they represent the positions of underwater wrecks.

[2017-10-24 14:34] vbawol commented on #945
Also, We might be able to do this dynamically based some usage of nearestTerrainObjects.

[2017-10-24 15:29] raymix commented on #945
@ravmustang Ohhh? Tell me :)

edit: I'll take care of sounds when low energy. Not sure how I even forgot about that part lol...

[2017-10-24 18:36] raymix commented on #945
@orangesherbet Players are allowed to hide geiger counter, but keep the sounds on (or other way around), it's by design... any combination of 3 - visual, alarm and ticks.
So above 2 issues are for the same problem now fixed.

[2017-10-24 19:11] vbawol commented on #945
- [x] Just tested a bit and it seems that only one "add wall" option is available on the cinder tower and none on the metal tower. (not an issue)
- [x] cinder tower "floor" seems to be a tad lower than metal tower floor.
![20171024140733_1](https://user-images.githubusercontent.com/3138624/31963105-415a6e16-b8c5-11e7-9496-afca89df06e5.jpg)
- [x] cinder tower ghost preview is very faint.
![20171024

[2017-10-25 09:36] BananaMan62 opened #946 "Add "Take All" Button to all loot containers."
Can a "Take All' Button be added to ALL crates & large inventory items to make it easier for looting the same as you have for the underwater crates please?

[2017-10-26 00:35] natoed opened #947 "Shipwrecks"
updated to the latest this morning, errors in server rpt, thou markers are displayed (including the bottom left of the screen)

heres a pic

https://imgur.com/a/yLRhw

` 9:55:48 "Epoch: Loading static loot"
 9:55:48 Error in expression <OATLOOT) then {
_markers = ["Shipwreck",_wreck] call EPOCH_server_createGlobalMa>
 9:55:48   Error position: <_wreck] call EPOCH_server_createGlobalMa>
 9:55:48

[2017-10-26 00:53] vbawol commented on #947
That last commit should fix this.

[2017-10-26 00:59] natoed commented on #947
yep its fixed wow that's was fast thx

[2017-10-26 01:00] vbawol commented on #947
Nice, thanks for the confirmation. 👍

[2017-10-26 01:00] #947 closed, assigned to nobody

[2017-10-28 15:39] #945 closed, assigned to raymix, ravmustang

[2017-10-28 18:13] morgoth0 opened #950 "Radiation post-effects logic is a bit off"
[Edited to make more sense :)]
The grainy post-effects for radiation hits kicks in at 2% rad level. The reason for this is the code in event2.sqf:

`if (_playerRadiation > 1) then {
	_radiationVal = linearConversion [0,100,_playerRadiation,1,10,true];
	[(ceil _radiationVal)/10, 2] call epoch_setRadiation;
} else {
	[0, 2] call epoch_setRadiation;
};`

The issue is the linearConversion command. At

[2017-10-28 18:17] vbawol commented on #950
I think you are right, I thought the grain happened too early as well. Experimental is open for commits and PR's and we will likely do hotfix for the game mode next Thursday provided it can wait that long and nothing major pops up.

[2017-10-28 18:18] morgoth0 commented on #950
Okay. I will make those changes now. Testing on my Badlands server first.

[2017-10-28 18:20] morgoth0 commented on #950
PS: Anyone know how I can get lines of code in separate lines when using the code tags? They just keep appearing as one line. Note I copy and paste code from NotePad++

[2017-10-28 22:22] morgoth0 commented on #950
Closing. Pull request made and committed by @vbawol

[2017-10-28 22:22] #950 closed, assigned to nobody

[2017-10-31 14:21] 82ndab-Bravo17 commented on #934
You can already build balconies either by using temporary supports or placing floor pieces within each other and building out. Once the balcony is in place any unneeded pieces can be removed and the balcony will stay there without an issue.

[2017-11-03 01:58] Tarabass999 opened #955 "Build: 1.0.0 build(1074) vehicle repair"
maybe I did something wrong, but at our server vehicle repair and multi gun doesn't work since update to 1.0..
at vehicle repair kit there's no use button
at vehicle repair parts only the craft button and no use aswell
multigun didn't repair a taru even after 130 shots

[2017-11-03 05:40] xDrokZ commented on #955
Multigun worked for me in the latest experimental files not tested in 1.0 yet. But i removed the repair vehicle attachment since farming stuff for advanced vehicle repair would be some kind of useless then.

You would need to disable the advanced vehicle repair and remove Vehicle Repair Kit from blacklistet crafting items to use the old repair system:
 https://github.com/EpochModTeam/Epoch/blob/re

[2017-11-03 06:48] Ignatz-HeMan commented on #955
With Advanced Vehicle Repair activated, the Multigun can only repair not fully damaged vehicle parts.
The whole repair System have been moved into the Space Menu.
Have a look into cfgepochclient for the settings and hints

[2017-11-03 12:59] Tarabass999 commented on #955
Thank you for explaining me... that makes sence :-)

[2017-11-03 12:59] #955 closed, assigned to nobody

[2017-11-08 15:31] vbawol opened #957 "Add support for new maps"
**IceBreakr maps**
- [ ] Lingor + Dingor https://steamcommunity.com/sharedfiles/filedetails/?id=718649903
- [ ] Isla Duala https://steamcommunity.com/sharedfiles/filedetails/?id=714149065
- [ ] Panthera https://steamcommunity.com/sharedfiles/filedetails/?id=708278910
- [ ] Isla Abramia https://steamcommunity.com/sharedfiles/filedetails/?id=648775794

**1PARA {God-father}**
- [ ] Saint Kapaulio: ht

[2017-11-08 15:39] vbawol commented on #946
I agree, I know we talked about it before the release of 1.0 and wanted to perfect it on the underwater crates first. So, I think this is something we could do for 1.1. It can use the dyna action menu and some form of the existing code.

[2017-11-08 15:46] vbawol commented on #926
tracking request here: https://github.com/EpochModTeam/Epoch/issues/957

[2017-11-08 15:46] #926 closed, assigned to nobody

[2017-11-09 23:01] OJohny commented on #957
Please also add the XCam Maps.

XCam Prototype https://steamcommunity.com/sharedfiles/filedetails/?id=837413362
XCam Taunus https://steamcommunity.com/sharedfiles/filedetails/?id=836147398

Beketov https://steamcommunity.com/sharedfiles/filedetails/?id=743968516
@Kobbvatn https://steamcommunity.com/sharedfiles/filedetails/?id=1161282110
would be good too.

[2017-11-09 23:34] morgoth0 commented on #957
Hope that I am not talking out of turn but it should be noted that with new maps, people are quite welcome to actually do the work to integrate a map and pass it back to Epoch so that the devs can concentrate on new features and making the core mod better... Several of us have indeed done so. All you can really expect from the devs (who are not necessarily familiar with the maps) is a very basic i

[2017-11-09 23:37] morgoth0 commented on #957
In fact, that reminds me that I have been remiss and should pass back the work I did on integrating Abramia last year... then one is checked off for 1.1

[2017-11-09 23:46] morgoth0 opened #958 "Change to morphine handling..."
Just putting this out there for comments. Right now morphine just heals a bit of damage (and has effects on player stats, which are nothing to do with this issue) but cannot be applied to another player who is the cursor target. Suggesting that morphine be used to just heal a broken leg and add support for applying to another player. In order to do that the relevant section of EPOCH_consumeitem.sq

[2017-11-10 01:52] OJohny commented on #957
Sorry. I do not know how to use github correctly.
(I am Running a Server with Taunus but without "map.h". epoch.xcam_taunus mission file is ready.)

[2017-11-11 23:51] Tarabass999 opened #959 "Jet ejector seat"
ejector seat from jets teleports players to the end of the map. ( Where the first sapper has been placed )
That makes ejector seat unusable.

Use Epoch Mod 1.0 build(1077) + default Epoch AH

[2017-11-12 00:49] raymix commented on #800
Note to self - add time to configs for item interactions (consume item). If time not defined or 0 change nothing, else spawn thread and apply effect over time.
Should be easy peasy way to add buff/debuff system. Nothing fancy, but effective.

[2017-11-13 00:16] OJohny opened #960 "Suggestion: Tradernetwork Missions to all Players with a radio."
Treasure Hunt inside a radioaktive City. Destreued Convoi with Goods, Weapons or Building Material.
Treasure Hunt inside a Castle with Gold and Silver.
(Radio disabled as Startequipment so Player have to find some)

[2017-11-21 15:16] ravmustang commented on #959
I was looking at this when you originally posted the issue, but have not the time yet to do any testing.
I can however provide an open view of the ejection function in the meantime.
Im sure more eyes on this function will help get it fixed quicker.

https://pastebin.com/WqfuQzEz

[2017-11-22 23:15] Tarabass999 commented on #959
Thank you DirtySanchez. I really have no knowledge about how to fix this. Just could imagine that it has something to do with that:

  //make pilot invulnerable for the transition time
    private _wasVulnerable = isDamageAllowed _pilot;

    if (_wasVulnerable) then
    {
        _pilot allowDamage false;
    };

But it wouldn't make sence with the situation the teleport happens. It teleports me

[2017-11-22 23:48] morgoth0 commented on #959
I have ejection seats only from CUP and use infiSTAR... just tested and ejection seats with those do not have this problem...

[2017-11-22 23:56] Tarabass999 commented on #959
No I only use Epoch AH.. not infistar.
But I didn't check it with CUP only the Jet DLC ones

[2017-12-01 21:33] Tarabass999 commented on #959
I tested now the ejector seats from RHS. Those are triggering aswell but when the parachute is open, it disappears and lets me fall down. No teleport happens with RHS ejector seats.

[2017-12-17 17:47] morgoth0 opened #963 "SERVER_VARS not persistent through a revive (I think)"
Have been informed of an issue where a player's jammer respawn does not work after a player has been revived once. Not in a position to log on and test but it looks from the code that this is true and caused by the non-transfer of SERVER_VARS from the old (dead) player object to the revived one. Am I correct?

If so, the fix would be to change EPOCH_server_revivePlayer.sqf in the following ways:

[2017-12-17 17:52] Ignatz-HeMan commented on #963
Makes sense!

[2017-12-18 21:43] TrayMcCloud opened #964 "Wiping Bases"
Hello,

I am on a server and each time the server has a restart it wipes all player bases/safes. This is a problem that only started occurring this morning. It appears that it only happens when the server restarts on its regular cycle. So if an admin does a manual restart it doesn't appear to clear the items.

Thanks

[2017-12-19 09:02] ravmustang commented on #964
Without any actual information from the server, it is hard to determine the problem associated.
The first step is to notify the actual server owners.
If they still can't find their problem they can come here, the forums or discord to present their issue and any required info that may help us help them.
These include server RPT files, client RPT files on join when the issue is present and possibly

[2017-12-19 18:02] Ignatz-HeMan commented on #963
You could also just try:
_newPlyr setVariable ["SERVER_VARS",_player getVariable ["SERVER_VARS",[]]];
Then there is no need to change the private array

[2017-12-19 18:10] morgoth0 commented on #963
I will verify that today.

Apologies, pretty sure both old and new solutions work but I have been busy
adding functionality (and clearing the last glitches) on my new server.

I also will have the ACE3 stuff for review soon - pretty much up and
running. Will all be keyed off whether ACE3 mod is installed (in the same
way the loot and vehicle spawn code checks on the presence of the CUP
mods). In o

[2018-01-09 16:29] Ignatz-HeMan commented on #963
https://github.com/EpochModTeam/Epoch/compare/097102c1aa3c...ad36d1633557

[2018-01-09 16:29] #963 closed, assigned to nobody

[2018-01-14 21:02] Ignatz-HeMan commented on #964
Sounds like a server problem, not EPOCH-Mod related.
As @ravmustang sayd, you are welcome to visit the Forum or Discord to get more help (if it is not already fixed).

[2018-01-14 21:02] #964 closed, assigned to nobody

[2018-02-24 10:14] REALMWTH opened #966 "RPT spam after MoneyDrop init"
Log:

[2018-02-24 11:11] Ignatz-HeMan commented on #966
Have you added the changes into these files?

https://github.com/EpochModTeam/Epoch/blob/47cce77649174deff6147a383aab80bfb81d078f/Sources/epoch_config/Configs/CfgMarkerSets.hpp#L205-L211

https://github.com/EpochModTeam/Epoch/blob/47cce77649174deff6147a383aab80bfb81d078f/Sources/epoch_server_settings/config.cpp#L140-L148

[2018-02-24 11:32] Ignatz-HeMan commented on #930
I have added some visual helpers on snapping:
https://github.com/EpochModTeam/Epoch/commit/12e5746c82fbfc825ea4283259c0c8317ecaa149

[2018-02-24 11:32] #930 closed, assigned to nobody

[2018-02-24 11:39] Ignatz-HeMan commented on #966
Please also check this last fix (just changed):
https://github.com/EpochModTeam/Epoch/commit/7822902e0f22c5448ec07f785d994c91f03cba0f

[2018-02-25 12:13] REALMWTH commented on #966
now fixed

[2018-02-25 12:13] #966 closed, assigned to nobody

[2018-03-14 00:34] morgoth0 opened #967 "Question re: Portable generators and DayZ style refueling"
With the welcome disabling of auto-refueling via variable, I have done some work on DayZ style refueling (using no DayZ code). Hoping to implement in vanilla Epoch by a pull request. Unfortunately the sound I use on my server is the generator1.wss from DayZ mod... Am I right in assuming that we would need another sound source or does someone know whether that was public domain? If it was not PD, w

[2018-03-14 02:09] vbawol commented on #967
Sounds great @morgoth0. Those sounds are a part of dayz mod assets and not something we can use for A3.

If you want, try and find a new sound from here: https://freesound.org/search/?q=generator and make sure you credit the author as needed by the license. If you need help converting/editing the file to wss or ogg let me know.

[2018-03-14 02:37] morgoth0 commented on #967
Thanks @vbawol Much appreciated. Will find a sound and pull some stuff tomorrow.

[2018-03-14 14:50] ravmustang commented on #967
To comment on the fuel and emptying the tanks.
Unfortunately the refueling process within A3 is not an action but done through the vehicle's presence to the pump, so my idea last night would not work helping this out.

We do have an option in current Epoch release to toggle the gas at stations here:
https://github.com/EpochModTeam/Epoch/blob/release/Server_Install_Pack/%40epochhive/epochconfig.hpp

[2018-03-14 15:05] morgoth0 commented on #967
Unfortunately if AutoRefuel is off then *all* fuel sources will be emptied at server start. The solution I was thinking of is pretty simple, just choose the fuel pump models in the list of objects that are passed into the EPOCH_staticFuelSources array, so that the fuel tanks, etc. are unaffected by the setFuelCargo 0 commands server and client side.

There are only a limited number of fuel pump mo

[2018-03-14 15:06] morgoth0 commented on #967
As an additional thing, there could be two arrays of fuel sources, one for pumps and one for fuel tanks. The fuel tanks should probably have their fuel cargo randomized between their max capacity and zero?

[2018-03-14 16:22] morgoth0 opened #968 "Question re: Large Workbenches"
So, the new model for large workbenches is now added to Experimental EpochCore. That raises a question regarding further changes to crafting on which I'd like the Epoch devs opinion.

On my servers that have the model client side already I basically limit the existing workbench to simple stuff and wooden base building components (wood wall, floor, etc.) but for electronic gear (e.g. plot pole, sol

[2018-03-14 16:28] morgoth0 commented on #967
Thinking that this is the perfect sound for the generator: https://freesound.org/s/349369/

Would just crop the first third or so before the sound change.

[2018-03-15 23:14] #968 closed, assigned to nobody

[2018-03-15 23:14] #967 closed, assigned to nobody

[2018-03-17 19:52] Tarabass999 commented on #959
That player teleport to the border of the map still happens after ejecting seat opens parachute in Epoch 1.1

[2018-03-19 19:49] Ignatz-HeMan commented on #959
Is there something in Logs from Antihack?

[2018-03-20 17:13] Tarabass999 commented on #959
Real life work was calling.. will take another look to it tomorrow morning and report about rtp

[2018-03-21 10:52] Tarabass999 commented on #959
So the only entry i can find after that is:
"ADMIN: Invalid Vehicle detected and deleted B Alpha 1-1:1 (Tarabas) REMOTE with B Alpha 1-1:1 (Tarabas) REMOTE driving"

[2018-03-21 12:33] Ignatz-HeMan commented on #959
Can you try to change this line:
https://github.com/EpochModTeam/Epoch/commit/4df4a3f684bc708ce7d9eee81f6bad7f04219e7b

[2018-03-21 13:03] Tarabass999 commented on #959
That fixed it.. I tried 3 times.. would be cool to add this :)

Thank you He-Man (closed)

[2018-03-21 13:23] Tarabass999 commented on #959
I just leave it open after I saw you're testing with it. It can get closed for me. :)

Edit : Tested on different servers. Works fine

[2018-03-21 19:28] Ignatz-HeMan commented on #959
Okay, thx for testing and the feedback.
I have added it to the experimental files

[2018-03-21 19:28] #959 closed, assigned to nobody

[2018-04-21 15:18] Vampurica commented on #919
Should radiation be linear? Currently it acts more like an exponential increasement which makes it negligible unless you are directly on top of it.

I tried to irradiate an area with a custom radiation area and even set to something like 2000 2000 it wasn't deadly until within 500m or so.

I recoded my server so now it is a linear increase based on the area distance. A strength of 100 and an area

[2018-04-21 15:20] Vampurica commented on #766
Still awaiting a Dialog for this.

[2018-04-21 19:08] raymix commented on #919
Hi

There are 2 types of radiation (kinda) - zone and object based. If using geiger counter then zone is ambient and object has directional readings. Both work on 2 variables - distance and intensity. If you want to try something deadly then try to decrease distance, but keep intensity high. But yes, it’s very basic math as far as I remember.

Kind Regards,
Raimonds Virtoss

[2018-04-22 04:05] Vampurica commented on #766
Thought about it today on how to implement this using the DynaMenu instead and I think it can be done.
I intend to work on it tomorrow.

[2018-04-23 23:56] #756 closed, assigned to raymix

[2018-04-24 00:31] Vampurica commented on #766
Updated to reflect current To-Do List.

[2018-04-24 02:15] Vampurica commented on #766
[keyButtons.zip](https://github.com/EpochModTeam/Epoch/files/1948699/keyButtons.zip)

Made the required button icons for this task.

[2018-04-25 07:09] Vampurica commented on #766
Still need some icons. Will work on them.
In the meantime created a demo video of the current WIP.

https://www.youtube.com/watch?v=L7yC_zNwbZY

[2018-04-25 20:23] Vampurica commented on #766
Added the rest of the required key icons to the zip above. Need to have them added to Epoch.

[2018-04-28 19:18] Vampurica opened #975 "Dynamic Vehicles Respawn Time"
Currently dynamically spawned vehicles are respawned up to the max slots on a server every restart.

What if instead vehicle slots were "timed out" after a dynamic vehicle is killed so that it takes a configurable amount of time before another vehicle could dynamically spawn in that slot?

The slot should still be usable if a player were to purchase a vehicle to prevent issues.

[2018-04-30 00:17] ravmustang opened #976 "Git webhook test"
Issue is presented as Github updates on discord not reporting as usual.
New webhook added as temp measure to correct.

EDIT: Issue closed, temp webhook reporting as needed

[2018-04-30 00:17] #976 closed, assigned to nobody

[2018-05-17 17:03] Ignatz-HeMan commented on #975
In my opinion it is okay as it is. I think there is no need for a timeout.
Why do you think it is needed?
At the end, admins can not adjust the number of wanted vehicles correctly as it is random based on destroyed vehicles. If you want / need it, feel free to do a pull request.
Of course we are open to add prepared scripts into Epoch if we think it makes sense for all servers or it is configureab

[2018-05-17 17:03] #975 closed, assigned to nobody

[2018-06-01 13:14] mr-guard opened #979 "Equality check of array against code"
https://github.com/EpochModTeam/Epoch/blob/3cdc78e2680c20c5ceca504309a852adb06a735b/Sources/epoch_server/compile/epoch_player/EPOCH_server_savePlayer.sqf#L47

Has to be ".. isEqualTo call EPOCH_defaultVars_SEPXVar.." instead

Otherwise compares code to array which is always false.

IDK if there is something more complex going on before to make this a valid check for edge cases.
If so definitely ne

[2018-06-01 14:32] Ignatz-HeMan commented on #979
Yeah, you are right.
I have fixed it in the experimental files.
Many thanks!
https://github.com/EpochModTeam/Epoch/commit/0d06bbfba1ee5d8a6a08d782b905359cae116c23

[2018-06-01 14:32] #979 closed, assigned to nobody

[2018-06-08 12:44] BrutalBirdie opened #980 "[Question] Zombiespawn Rate, Ryanzombie etc."
I can't find a proper documentation how to increase/decrease Zombie-spawn rates. Also a general guide for Windows and Linux servers for Ryanzombie Mod would be very good.

I had to read one hour of useless forum posts until I found an information that seems to be right, https://board.nitrado.net/support-de-german-only/support-gameserver/arma/arma-3-epoch-mod/84263/zombie-rate/

but thees options d

[2018-06-08 12:58] vbawol commented on #980
Hello, @BrutalBirdie this was changed a bit.

The chance is here: https://github.com/EpochModTeam/Epoch/blob/fc45cb8f69dae78c76b26fc563182752df3d9b9c/Sources/epoch_config/Configs/CfgEpochClient.hpp#L88

And limit here:

https://github.com/EpochModTeam/Epoch/blob/fc45cb8f69dae78c76b26fc563182752df3d9b9c/Sources/epoch_config/Configs/CfgEpochClient.hpp#L102

Hope that helps, if you have any more ques

[2018-06-08 13:33] BrutalBirdie commented on #980
Hey @vbawol thanks for answering but I already set "EPOCH_RyanZombie_1",0.50 and ["EPOCH_RyanZombie_1",25]
and yes @ryanzombie is loaded properly.

[code]
bikey also added to keys etc. etc. etc. etc
Is there a way to spawn the Ryanzombies, Zombies, etc. for debugging?

Maybe I should note then I am running a Linux server, since a Windows Server is not an option for me.

[2018-06-08 15:37] vbawol commented on #980
Do you see
"Epoch: Ryanzombies detected"
in your servers RPT?

[2018-06-08 15:59] BrutalBirdie commented on #980
Jup ```server.log:266: 0:23:42 "Epoch: Ryanzombies detected"```
But the point is, not even normal zombies spawn more then normal even tho I increased the spawns.

[2018-06-08 21:58] mr-guard opened #981 "Wrong params"
https://github.com/EpochModTeam/Epoch/blob/a9dc9f044b58894f536b8dffbcc9ee013dc6ea8d/Sources/epoch_code/compile/functions/EPOCH_client_updatePlayerStat.sqf#L44

first and second args of EPOCH_fnc_updatePlayerStats are of type "object"

a fix could be:

[player, objNull, _statType, _adjust, false, Epoch_personalToken] remoteExec ["EPOCH_fnc_updatePlayerStats",2];

However, it could be you need to ed

[2018-06-09 09:06] BrutalBirdie commented on #980
@vbawol I unpacked epoch.altis.pbo and edited the files then repacked it and uploaded it to the server. I gues that the right way, or not?

[2018-06-09 12:05] vbawol commented on #980
Yes, those changes to the CfgEpochClient.hpp are in the mission file.

[2018-06-09 20:26] BrutalBirdie commented on #980
jup, thats what I did. Still no changes in the spawn rates what so ever...

[2018-06-10 13:17] BrutalBirdie commented on #980
So far nothing helped...
Can I use MCC with Epoch to test if I can spawn Zombies etc.?

[2018-06-10 13:30] vbawol commented on #980
Ok, I will take a look at it on the dev test server. What sort of spawn numbers are you attempting?

[2018-06-10 13:43] BrutalBirdie commented on #980
I tried from normal, normal x2, to 0.50 to 1.0

[2018-06-16 13:31] mr-guard opened #982 "Battleye speedup"
Battleye filters are known to be a huge performance bottleneck.
Since there are a lot of script commands that you simply kick for in any case, why not remove them from BE filters and use:
https://community.bistudio.com/wiki/CfgDisabledCommands
instead

This way battleye does not need to scan for them.

[2018-06-16 13:35] mr-guard commented on #982
A full list of said commands
`
loadFile
setFriend
setAmmo
enableFatigue
setUnitRecoilCoefficient
callExtension
enableCollisionWith
removeAllItems
removeAllActions
createTeam
forceAddUniform
removeAllMPEventHandlers
setDammage
displaySetEventHandler
addMPEventHandler
removeAllMissionEventHandlers
ctrlClassName
ctrlModel
ctrlModelDirection
ctrlModelSide
ctrlModelUp
setGroupIconsVisible
setGroupIcons

[2018-06-17 03:11] Ahriana commented on #982
this has been suggested in the past #728

[2018-06-17 11:59] vbawol commented on #982
@RZSenfo This does sound like a good reason to make use of CfgDisabledCommands, and I am all for removing scripts.txt filters lines. If you want please make a pull request against the experimental branch to add these changes. 👍

[2018-06-17 15:36] vbawol commented on #982
Thanks for the suggestion and the pull request https://github.com/EpochModTeam/Epoch/pull/983

[2018-06-17 15:36] #982 closed, assigned to nobody

[2018-06-30 13:12] vbawol commented on #981
Thanks for the fix!

[2018-06-30 13:12] #981 closed, assigned to ravmustang

[2018-08-09 08:39] BlackhatEspeed commented on #980
I'm also having problems as well with this, my server needs more zombies 🗡

[2019-05-02 15:32] morgoth0 opened #1004 "Mass Check"
With the latest player_login.fsm the issue is still occurring:

`11:20:44 "DEBUG: Checking Player Object: OK"
11:20:44 "DEBUG: Checking Player PosVar: OK"
11:20:44 "DEBUG: Final Player mass check: FAILED (770 != 769.63)"`

Think I will just remove the check completely (again)

[2019-05-03 18:16] Ignatz-HeMan commented on #1004
thx for the feedback.
(770 != 769.63) is more than expected (and handled by the fix).
I would not completely remove the check, because Players could spawn without any gear then.
You notice this issue often? Then you could try a fix from @82ndab-Bravo17 :
This give much more tolerance and should work in this case!

`_playerCheckMass = ((abs(_loadabs - (loadabs _playerObject))) < 1);`

Some feedback

[2019-05-03 20:01] 82ndab-Bravo17 commented on #1004
Is the character permanently broken, or can they log in if they try again?

Also, could you ask some players on your server to check their .rpt files after they log in OK and see if the first value for the mass is ever a non-integer?

[2019-05-03 22:42] morgoth0 commented on #1004
Black screen, authentication failed (with the pubvar timeout kick) every time. Been having this problem on and off for a long time now - think I first reported it. AWOL suggested a distance thing (murkily remembering a conversation) and it does seem to be a thing... only happens on large maps where the spawn chamber is not centred and the player is very far away from it... Will go through my old u

[2019-05-03 22:58] Ignatz-HeMan commented on #1004
The distance should no longer be a problem, because we have completely changed the script.
1. Ghost spawn in spawn chamber
2. New unit also spawn in spawn chamber
3. New unit get unit loadout
########## Here is your stuck ##############
4. client tell the server, that loadout is okay
5. Server move the new unit to his final destination
6. Client switch into new unit.

But... I wonder about the dif

[2019-05-03 23:07] morgoth0 commented on #1004
Will do so tomorrow He-Man. I will let you know whether the issue reoccurs. Unfortunately it is just a case of wait and see because it is fairly rare

[2019-05-03 23:36] 82ndab-Bravo17 commented on #1004
You could probably just delete the players loadout rather than the whole player record, which would leave  the group info intact.

What mods do you have installed/allow on server?

[2019-05-03 23:46] morgoth0 commented on #1004
Does deleting the loadout fix it... that would be good. Will check if it happens after implementing your code.

Mods on this server (doesn't really matter because I've had it on every server run - but rare for sure):

CBA_A3, CUP Terrains - Core, CUP Units, CUP Vehicles, CUP Weapons, Enhanced Movement, Epoch, Extended Base Objects For Epoch, Hellenic Armed Forces Mod (HAFM), Immersion Cigs, KA Wea

[2019-05-03 23:49] morgoth0 commented on #1004
Probably will be removing RDS Civilian Pack from my servers now that the issues with some of the civ Cherno uniforms in CUP have been fixed and they added the Zetor tractor. CUP is still missing the Jawa bike but fewer mods are good and I cannot see myself keeping it just for one motorbike - especially since the TT650 is my ride of choice :)

[2019-06-13 20:04] Ignatz-HeMan commented on #1004
Shoule be now finally fixed by @82ndab-Bravo17:
https://github.com/EpochModTeam/Epoch/commit/21c7adaf78501190140edb2731123ef03fd7fa77

[2019-06-13 20:04] #1004 closed, assigned to nobody

[2019-06-13 20:07] Ignatz-HeMan commented on #863
Added within EpochMod 1.3.1.0

Upgradeable PlotPoles (S/M/L/XL/XXL) with different Range / Limits
https://plays.tv/video/5c9925a6770ac037e4

[2019-06-13 20:07] #863 closed, assigned to nobody

[2019-11-14 21:28] hbeni opened #1009 "Support ACRE2"
Hello,
it would be nice if the mod would support ACRE out of the box.
Maybe some reciepe to convert the available radios to 343s or something like that; maybe also support the autoreplace of standard acre?

[2019-11-14 22:10] hbeni commented on #1009
I played a little with it, however with no success: ACRE will not connect to the teamspeak instance.

I added the following snippet to the missions `CfgCrafting.hpp`:
[code]
This successfully allowed me to convert two Radios to ACREs PRC343 ones.
Acre however will not pick this up, and does not connect to teamspeak (which it should even without radio to support direct speech!).

The same server wi

[2019-11-14 22:13] Ignatz-HeMan commented on #1009
I am not sure, how this addon works. But you could provide me some infos / working scrips and we can try to figure it out and add it to Epoch.
But this is not the best place for a longer conversation. COuld you please contact me via Discord (He-Man)?

[2019-11-14 22:31] hbeni commented on #1009
The mods site is here: https://acre2.idi-systems.com/, steam workshop id is [751965892](https://steamcommunity.com/sharedfiles/filedetails/751965892).

Usually its quite simple: You load CBA, then ACRE (both, at server and client) and then as soon as you get a radio you can transmit (first time loading the mod shopuld install the acre teamspeak plugin automatically, you need to restart your TS cli

[2019-11-14 23:09] Ignatz-HeMan commented on #1009
Yes, it do. But not sure if this could affect it.
We can discuss / test it in private. Contact me in Discord and we can try to figure it out. But it is very late here and I have to sleep now.

[2020-06-21 06:45] Fevix opened #1012 "More recent legacy downloads for client files"
I started a server on nitrado, and the most recent version they have is 1.3.2. I cannot find this version for download anywhere. The Epoch downloads page jumps from 1.3.3 to 1.2-something.

[2020-06-21 10:16] Abe1100 commented on #1012
If the server hasn't loaded then client or servers files for your version you want to install, you may have to upload the files yourself using their recommended file transfer method, I stopped using server providers for that same reason

[2020-06-21 18:46] Fevix commented on #1012
I tried this and now it's saying that my files aren't signed by accepted keys or something

[2020-06-21 18:55] Ignatz-HeMan commented on #1012
Make sure you have also added the epoch133.bikey into your servers keys folder.
You can find the key within the client files (@epoch\keys)

[2020-06-21 22:00] Fevix commented on #1012
I've done that.

[2020-06-21 22:03] Ignatz-HeMan commented on #1012
But?
Maybe you should join our Discord and discuss it there.
Upload your Server and Client logs there and we can have a look on them.
Would be much easier...
https://discord.gg/0k4ynDDCsnMzkxk7

[2020-06-29 04:39] ByPretendersDev opened #1013 "Gas Station Bug..."
Hello ... I was playing Mod Epoch Arma 3 "version EpochModTeam 1.3.3.1546", Find a Car ... I noticed it and stopped by the gas station and filled it up, I couldn't get out of the gas station, I lock the steering wheel and the car doesn't move more ... and the noise of filling gasoline makes ...
Thank you...

[2020-07-16 20:00] #1012 closed, assigned to nobody

[2020-07-24 19:21] Parkos opened #1014 "[QUESTION] No NPC spawning"
Hi!

Is my first time setting up a dedicated server and i chose to rent a nitrado one. I supposely have configured Epoch with Ryan Zombies and Demons, the server loads it but the map is empty, just the loot, no NPCS.

Any help for a newbie?

[2020-07-24 22:45] Abe1100 commented on #1014
For setting up a server, ask your question on discord, and or search Google for Epoch forums, There are alot of helpful tips etc.
https://epochmod.com/

[2020-08-26 13:14] SamuelLiasam opened #1015 "Arma 3 CBA bug"
Whenever I try to launch my Arma 3 via A3sync or the launcher I get this message;
file x/cba/addons/ee/config.cpp, line 12: 'Cfgvehicles/B_W_Story_Protagonist_01_F.XEH_ENABLED': ';' encountered instead of '='
Can anyone please help me?

[2020-08-26 13:18] SamuelLiasam opened #1016 "Enemy not shooting"
Hi everyone. Whenever I play a game in Arma 3 I always have the issue that the enemy which is often Independent doesn't attack me. Myself (BLUEFOR) engages at the enemy and does what it needs to do. However, the enemy doesn't fire back and I am literally able to shoot the enemy from a close distance without resistance. Also in the game independent is set as the enemy so that makes it even weirder.

[2020-08-26 16:53] morgoth0 commented on #1016
Obviously this is not really an Epoch issue since Epoch's AI behave properly. I assume you mean in scenarios you are setting up. If so, in Eden you need to bring up the Attributes>General Window. Note the Independents Allegiance section. By default BLUFOR are friendly with GUER so click on the blue icon to make them hostile
![20200826125109_1](https://user-images.githubusercontent.com/16226987/913

[2020-08-26 16:54] morgoth0 commented on #1015
Not an Epoch issue...

[2020-08-26 18:03] SamuelLiasam commented on #1015
To who do I need to write instead?

[2020-08-26 18:05] SamuelLiasam commented on #1016
I have GUER on hostile also I always click the blue button to make them hostile. They still, however, don't engage at me whenever I am BLUEFOR or OPFOR

[2020-08-26 18:08] Ignatz-HeMan commented on #1015
Sounds like a CBA issue?!
https://github.com/CBATeam/CBA_A3

[2020-08-26 18:13] SamuelLiasam commented on #1015
Thank you kindly!

[2020-08-26 18:15] #1015 closed, assigned to nobody

[2020-08-27 21:10] Ignatz-HeMan commented on #1016
As this git is for A3 EpochMod only, I will close this issue now.
But you could discuss this within the A3 Discord: https://discord.gg/arma

[2020-08-27 21:10] #1016 closed, assigned to nobody

[2020-08-27 21:15] Ignatz-HeMan commented on #1014
The upcoming update (EpochMod 1.3.3.1) will have a build in Zombie Spawner for RyanZ.
We are going to push it within in the next few days!
If there are still any issues then, let us know...

[2020-08-27 21:15] #1014 closed, assigned to nobody

[2020-08-27 21:17] Ignatz-HeMan commented on #1013
This sounds like an Arma Bug, not related by EpochMod.
Sorry, but we are unfortunately not able to fix this :(

[2020-08-27 21:17] #1013 closed, assigned to nobody

[2020-08-27 21:20] Ignatz-HeMan commented on #980
Our next Update (EpochMod 1.3.3.1) will have an build in RyanZ Spawner.
We are going to push it within the next days!

[2020-08-27 21:20] #980 closed, assigned to nobody

[2021-03-09 10:27] Ozzie1974 opened #1018 "Dayz player live markers not showing"
I cannot get the player group live markers (live markers on the players themselves) to show. Can anyone please help?

[2021-03-09 20:45] Ignatz-HeMan commented on #1018
This is the repo for A3 Epoch.
Please post again in DayZ Epoch:
https://github.com/EpochModTeam/DayZ-Epoch

[2021-03-09 20:45] #1018 closed, assigned to nobody

[2021-08-08 11:47] hbeni opened #1020 "RyanZ zombies only spawn fish loot"
I recently installed a fresh server, and had the issue that the R&D zombies just spawned fish loot.
The reason i think was class name mismatches in the `@epochhive` loot tables.

I fixed it this way in the `server_settings.pbo`:

1. `CfgLootTable.h`: Extend the class `CfgLootTable` with this entry:
[code]

2. `CfgMainTable.h`: Extend the class `CfgMainTable` with the following entry:
(basicly it r

[2021-08-08 12:57] morgoth0 commented on #1020
The proper fix is already in Experimental branch

https://github.com/EpochModTeam/Epoch/commit/57d6764e9ddaa40cee45ef65a546dce9922fabae

[2021-08-08 13:57] #1020 closed, assigned to nobody

[2021-08-08 17:45] hbeni commented on #1020
Great! Thanks!

[2021-08-08 23:09] Ignatz-HeMan commented on #934
Building without Physics: https://github.com/EpochModTeam/Epoch/blob/experimental/Sources/epoch_config/Configs/CfgEpochClient.hpp#L113
with half / quarter Floors should do the job here...
At least you can support the Floors and later remove the foundations (as @82ndab-Bravo17 already mentioned)

[2021-08-08 23:09] #934 closed, assigned to nobody

[2021-08-16 08:56] hbeni opened #1021 "Question: How To adjust trader pricelist"
Hello,
is there a way to configure the baseline price level of all traders?
I want to make the traders more expensive right from the start (i know the tax config option, but this is not what i need).

Especially the black market traders, I want to make them more expensive right from the start.

[2021-08-16 19:17] Ignatz-HeMan commented on #1021
You can adjust an overall tax for the trader price here:
https://github.com/EpochModTeam/Epoch/blob/d063b49de3f51068321ed069ae3fe1e51823d04e/Server_Install_Pack/%40epochhive/epochconfig.hpp#L155

And you can set the multi for the black market prices here:
https://github.com/EpochModTeam/Epoch/blob/d063b49de3f51068321ed069ae3fe1e51823d04e/Sources/epoch_config/Configs/CfgBlackMarket.hpp#L10

Or you

[2021-08-16 19:17] #1021 closed, assigned to nobody

[2021-08-17 07:00] hbeni commented on #1021
Thank you for your answer.
If I understand right, I need to bundle a new epoch mod pack for clients and server if i change this, correct?

or can i overwrite the black market multipliers in the overall config where the tax variable is also set?

[2021-08-17 16:47] Ignatz-HeMan commented on #1021
You have to unpbo your mission file, make your changes in the files and repack it.
For more Infos, you will get faster responce in our Discord, I think…
https://discord.gg/0k4ynDDCsnMzkxk7

[2021-09-16 17:57] hbeni opened #1022 "[Question] How to spawn zombies at night?"
Hi, is there an config option I missed that allows to spawn more zombies at night?
I remember that with a very old version this already worked, but somehow no zeds are spawning in night time here.

Generally it would be cool if i could configure something that triggers at night, maybe a custom made "event" that handles this? What is the preferred way to implement this (if it's not just an option i

[2021-09-16 18:22] hbeni opened #1023 "[Question] How to enable HeadlessClient mode?"
Hello,
what do i need to be able to add a headless client and have ai and spawn scripts run there?

[2022-09-22 00:43] tux-box opened #1024 "case sensitivity issues with linux"
I've noticed that case seams to be inconsistent, pascal case, camel case, all caps, I've been using a script internally to lowercase everything and that seams to be working but it's an extra unnecessary step. I admit I'm not as familiar with arma3 modding but if it wouldn't cause a complete rework, could the team re-case all files to lowercase?

[2022-09-22 01:01] morgoth0 commented on #1024
Unlikely, most mods have this issue for Linux...

[2022-09-22 01:35] tux-box commented on #1024
I made a fork of everything as lower case for testing. https://github.com/tux-box/Epoch
I'm still learning a lot about git and this kind of development, I come from a different discipline.
you can compare the changes and if this doesn't break anything then feel free to pull request/merge what ever.

[2022-09-22 01:59] morgoth0 commented on #1024
Why on Earth are you changing all file names that would be in the pbos to lower case?

[2022-09-22 02:09] morgoth0 commented on #1024
And now I think of it, all Epoch's PBOs are lowercase anyway, which means they are fine. All that matters is that the case of the mod folder names match what they are named in ARMA's root folder and that the mission file name's case matches what is called in server.cfg

[2022-09-22 15:04] tux-box commented on #1024
Are you referring to the files listed here: https://github.com/EpochModTeam/Epoch/tree/release/Server_Install_Pack/mpmissions because these file are not lowercase or were you referring to these files https://github.com/EpochModTeam/Epoch/tree/release/Server_Install_Pack/%40epochhive/addons ? Either way a simple change would fix it, I'm happy to do the work.

I'm aware of the case sensitivity issue

[2022-09-22 15:18] morgoth0 commented on #1024
As I said, the only thing that Linux cares about is the mod folder and pbo names. They are all lower case other than the mission files for Epoch (historically Epoch uses the case that the map itself uses).

The contents of the pbos themselves do *not* require any case changes.

[2022-09-22 15:24] morgoth0 commented on #1024
Though yeah, on Linux the ryan spawner is also mixed case... forgot about that one (bad He-Man not following the lower casing of all the epoch pbos ;) )

[2022-09-22 15:30] tux-box commented on #1024
I'm not entirely sure, honestly but if the script I used to handle case change also changed the stuff on the inside it might be an issue, otherwise it would have ignored those files. Regardless, it's worth testing and seeing as I've already done the bulk of the work its down to spooling up the thing on both os's to make sure there's no lingering issues I didn't think of(I'm not an app developer).

[2022-09-22 15:45] morgoth0 commented on #1024
I can guarantee that the contents of the PBOs do not require any changes. Linux itself has no idea what's in the PBOs neither does it care.

At the end of the day, up to the devs, but you're suggesting changes simply so that you don't have to lower case two file names, the ryan spawner and the mission file used on the server... and you'd still have to lowercase files if you add other mods

[2022-09-22 16:25] tux-box commented on #1024
I didn't think it would be a big request requiring a lot of work, considering I was able produce the work in an afternoon and I've barely got any app development experience. Seeing as the work has been done on another fork, I'll leave it to the dev's to determine if it's worth a merge. It just needs testing at this time, I hope to get to that today.

As for the contents of the PBO's, I'll step asi

[2022-09-22 16:28] morgoth0 commented on #1024
Well you created a fork that lower-cased all the file names in sources rather than just the server install pack. That was my point of contention. Internally ARMA operates in an all lowercase environment *except* when doing things like string comparisons, which is why changing the names of all the scripts inside the pbos is pointless.

I have no feelings either way about lowercasing the files in th

[2022-09-22 17:02] tux-box commented on #1024
Thank you.
The fork is a lowercase copy of Epoch:Release.
It got everything, i hoped. (that appears to be the wrong train of thought, noted, will correct)
I'll make some corrections, I don't necessarily need to mess with the sources. Might just remove a few of the other items just to be on the safe side.

[2022-09-22 17:34] morgoth0 commented on #1024
To be helpful here, you don't need to change anything in Server Install Pack cause that's autogenerated when AWOL builds the release. In sources you just need to change the folder name for Epoch_server_RyanZ_Spawner and the folder names in sources/mpmissions for those folders that are mixed case... That's it

[2022-09-22 17:36] tux-box commented on #1024
Thank you very much for that, I'll do just that.

[2022-09-22 17:36] morgoth0 commented on #1024
Nothing *inside* those folders needs touching. Also you need to make sure you are editing Experimental branch not Release

[2022-09-22 17:38] tux-box commented on #1024
Sure thing.
Like I said I'm rather new to app development and working with teams remotely. So lots to learn but I do want to contribute something useful.
right now I'm working on this from app as a service point of view using containers, getting that base environment setup now.

[2022-09-22 18:15] tux-box commented on #1024
I completed the changes per request.
https://github.com/tux-box/Epoch
Let me know if this matches more what you were thinking.
I'm still trying to get used to and learn git.
EDIT: looks like my comment went global, well ignore it as it's obvious that it didn't apply in every case.

[2022-09-22 18:18] morgoth0 commented on #1024
Looks fine. Unfortunately, as I mentioned, you need to fork and edit the Experimental branch not Release though...

[2022-09-22 18:18] morgoth0 commented on #1024
No changes are made to Release branch only Experimental

[2022-09-22 18:39] tux-box commented on #1024
Honestly tried to do that, I'm learning git as I go and couldn't for some reason get it to talk to Exp branch.
I'll try again at some point, kinda frustrated with git at this time.

[2022-09-22 23:05] tux-box commented on #1024
Well here here we go, spent most of the afternoon learning git. Still don't know if i did it correctly. but I got exp branch updated and did a pull request. Figures crossed, I didn't make someone's day worse.

[2022-09-22 23:50] morgoth0 commented on #1024
You added new folders, you need to rename the old ones only...

[2022-09-23 00:36] tux-box commented on #1024
I'm starting to hate GIT. those "extra files" are not on my local copy.
I yield to your git experience, can you offer some feedback?